[2013-02-21 14:21] barrysteyn opened #1 "Create a synchronous version"
There seems to be a need for a synchronous version of this library.

[2013-02-22 19:54] #1 closed, assigned to barrysteyn

[2013-02-28 17:57] jasadams opened #2 "dependent on sys/sysinfo.h"
I was trying to build this module on mac os x and the build failed due to it being dependent on the Linux only header file (sys/sysinfo.h). It would be nice to remove this dependency so this module can be built on other platforms

[2013-02-28 22:54] #2 closed, assigned to nobody

[2013-03-12 12:55] fiws opened #4 "Does not work with node 0.10"
At least i can't get it working

sudo apt-get install libssl-dev
git clone https://github.com/barrysteyn/node-scrypt.git ./
node-gyp configure build

[code]

[2013-03-12 15:29] #4 closed, assigned to nobody

[2013-04-19 01:43] mreinstein opened #5 "error while building scrypt on Ubuntu 13.04 with nodejs 0.10.4"
first I install scrypt on the system with `apt-get install scrypt`

then as root, I run `npm install scrypt` and get these errors:

[code]

Any idea why this is happening?

[2013-04-19 12:13] #5 closed, assigned to nobody

[2013-05-14 03:30] julianduque opened #6 "SunOS/SmartOs Support"
This will allow to use node-scrypt in `Nodejitsu` and `Joyent` cloud.

[code]

[2013-06-30 19:23] willglaub opened #7 "First few characters of hashes are all the same regardless of password input."
Using scrypt.passwordHash function exactly as shown in the readme file, the 128 character string hash provided to the callback function always begins with c2NyeXB0AA0AAAAIAAAAA or c2NyeXB0AAwAAAAIAAAAA or that same pattern with pwdhash[8] varying, and then the rest of the characters indeed varying with every run of the function as expected, with any password I randomly give the passwordHash functi

[2013-06-30 21:01] #7 closed, assigned to nobody

[2013-07-12 01:15] fresheneesz opened #8 "What about salt?"
In the documentation (readme), its very clear that a salt is definitely needed for secure password hashing. However, when it comes to the actual API, I don't see anything about salt. The parameters I ses are:

scrypt.passwordHash(password, maxtime, maxmem, maxmemfrac, callback);

The way I understood it, maxtime, maxmem, and maxmemfrac are parameters that determine something about how to hash the

[2013-07-12 03:04] #8 closed, assigned to nobody

[2013-07-23 17:37] #6 closed, assigned to nobody

[2013-08-18 04:58] vladikoff opened #15 "Allow custom options for salt, N, r, p"
We are developing the next version of [Firefox Sync](http://www.mozilla.org/en-US/mobile/sync/) and our new [key server protocol](https://wiki.mozilla.org/Identity/AttachedServices/KeyServerProtocol#Client-Side_Key_Stretching) requires a way to specify the scrypt options, such as a custom salt and so on.

Could you explain why you didn't add these options as part of this module?
(I've read the [tw

[2013-09-03 22:49] acstll opened #16 "scrypt.verifyHash shouldn't return 'password is incorrect' error."
I think invalid passwords shouldn't be considered an error.

If you're using the node.js callback convention `function (err, result)`, and `result` is meant to be either `true` or `false`, the callback should be called with `null, false` as arguments for invalid passwords. The error argument should be used in case some error happened and the password couldn't be verified.

This way the user can ha

[2013-10-15 22:09] pocesar opened #17 "Can't build on Windows 7 64bits"
Trying to build this on Windows 7 64bits, on Node 0.10.20 x86, with VS 2012 installed.

[code]

tried to install directly from `npm install scrypt`, am I missing anything?

[2013-10-20 19:42] barrysteyn opened #19 "Refactor code to separate key derivation function (scrypt_crypto) from password hash"
There is a need to have access to the underlying key derivation function as produced by scrypt.

The refactor will result in:
1. Code filename renaming
2. Separation of key derivation core function (scrypt_crypto) into its own module.
   1. Having scrypt_crypto have its own module means it can more easily be exposed for outside consumption
3. Previous functionality using the new module

[2013-10-21 04:09] #19 closed, assigned to nobody

[2013-10-21 14:30] barrysteyn opened #20 "Create functionality to obtain salt"
The underlying keyderivation function needs a way to have salt as an input. This issue will expose scrypt's `getSalt` function. It will result in both an asynchronous and a synchronous version

[2013-10-26 19:00] barrysteyn opened #21 "Use openssl base64"
Currently, this module uses a third party library for Base64. This was chosen because it was the most portable way to implement Base64 encoding. But now that openssl comes bundled in Node (from version 0.8 onwards), it makes sense to that instead due to the following:
1. Easier to make binary safe - this may be needed when using Scrypt as a generalised key derivation function instead for password

[2013-11-25 13:55] barrysteyn opened #22 "Remove cryptography functionality"
The new module will not have the ability to perform Scrypt cryptography. For two reasons: Firstly, it was not implemented all that well in this module to begin with, but also, I don't think the feature is used that much.

I am going to be moving it to it's own module for those people that really want it. Anyone who is reading this, please can you comment if you are actually using the crypto functi

[2013-11-30 22:17] barrysteyn opened #23 "Profiling"
Version 2.0 will be profiled with various tools. This issue is to prepare for such profiling.

[2013-12-03 16:04] barrysteyn opened #24 "Implement salt by using OpenSSL"
The salt function, as it currently stands, gets it's randomness from /dev/urandom. While this is okay, it restricts its functionality to a POSIX system (i.e. Windows users cannot use it). Instead, this ticket aims to get its salt from openssl. Openssl is available to windows in NodeJs from version 0.85 onwards.

[2013-12-03 16:05] #21 closed, assigned to nobody

[2013-12-03 16:05] #22 closed, assigned to nobody

[2013-12-09 15:34] barrysteyn opened #25 "Provide interface to scrypt translation function"
Scrypt's internal variables (N,r and p) can be calculated using a translation function to make it easier for human beings. This translation function takes the following as inputs:
1. maxmem
2. maxmemfrac
3. maxtime

It produces the Scrypt internal parameter N, r an p.

Internally, Scrypt's translation function will set values for maxmem and maxmemfrac if these have not been set. Therefore this fun

[2013-12-15 15:47] #25 closed, assigned to nobody

[2013-12-15 17:17] barrysteyn opened #26 "Password hash to be refactored so that both sync and async use the same interface"
When first writing this module, I decided not to include synchronous functionality. After being requested to include this functionality, I added it in but very quickly. This ticket will correct the "mess" and implement things more elegantly. More specifically:
1. The same interface will be used for both sync and async functions (therefore getting rid of a new function name for sync functionality).

[2013-12-19 16:35] barrysteyn opened #27 "Scrypt params refactoring"
Scrypt params to be refactored and DRY'd.

[2013-12-19 20:20] #16 closed, assigned to nobody

[2013-12-21 17:55] barrysteyn opened #28 "Create Error Object"
Instead of returning a string, return an error object. This has two advantages:
1. It can be thrown in JS land and will therefore be traceable.
2. It provides more detailed information

[2013-12-21 21:16] barrysteyn opened #29 "passwordHash to return a buffer"
Allow a user to choose a buffer to be returned instead of forcing the result to be returned in base64

[2013-12-24 22:33] barrysteyn opened #30 "Expose Scrypt's key derivation function"
Expose scrypt's internal key derivation function. More info can be seen by following the thread in #15 (although I should point out that there are some differences).

[2013-12-26 07:08] #30 closed, assigned to nobody

[2013-12-26 07:08] #29 closed, assigned to nobody

[2013-12-26 07:08] #28 closed, assigned to nobody

[2013-12-26 07:08] #27 closed, assigned to nobody

[2013-12-26 07:09] #26 closed, assigned to nobody

[2013-12-26 07:09] #24 closed, assigned to nobody

[2013-12-26 07:10] #15 closed, assigned to nobody

[2013-12-26 07:10] #20 closed, assigned to nobody

[2013-12-26 07:11] barrysteyn opened #31 "Design new tests for new functionality"
New tests are needed for the new functionality

[2013-12-26 07:11] barrysteyn opened #32 "Add additional JS wrapper functions"

[2013-12-26 07:11] barrysteyn opened #33 "Update documentation"

[2013-12-26 19:58] barrysteyn opened #34 "Clean source code"
Convert spaces to tabs etc

[2014-01-05 20:37] barrysteyn opened #35 "Create config object"
Instead of writing js wrappers, rather let function have their own config object as defined by the FunctionTemplate object

[2014-01-06 08:12] Quackerjack opened #36 "LICENSE?"
What is the License for this code?

[2014-01-06 13:41] #36 closed, assigned to nobody

[2014-01-08 03:41] #35 closed, assigned to nobody

[2014-01-08 03:41] #32 closed, assigned to nobody

[2014-01-08 03:41] #31 closed, assigned to nobody

[2014-01-14 02:10] #34 closed, assigned to nobody

[2014-01-14 02:10] #33 closed, assigned to nobody

[2014-01-21 14:51] barrysteyn opened #37 "Create MS Windows functionality"

[2014-01-21 14:51] #37 closed, assigned to nobody

[2014-01-23 07:46] rdev5 opened #38 "Minimum KDF outputSize"
Is there a reason why even if I specify a KDF outputSize of 16 (bytes), I get a minimum of 64 bytes on the output and am unable to specify a smaller outputSize?

[2014-01-23 14:24] #38 closed, assigned to nobody

[2014-02-26 15:52] TEugen opened #39 "node v0.11.* build"
Any plans for supporting node v0.11.*?

[2014-03-06 14:46] #17 closed, assigned to nobody

[2014-03-06 20:39] bmeudre opened #40 "Scrypt + Coffeescript on Windows"
Hey guys,

Thanks for the windows compatibility! I'm using coffeescript in my node project with scrypt and it can't load the scrypt module. Did someone encounter this issue yet?

[2014-03-08 16:08] #40 closed, assigned to nobody

[2014-04-11 05:49] dmmalam opened #42 "Fatal error when following hash example in README"
[code]

[2014-04-14 01:07] #42 closed, assigned to nobody

[2014-04-22 23:08] LukeL99 opened #43 "Ubuntu 14.04 desktop i386 installation error on i7 netbook"
I'm having issues installing this package on Ubuntu 14.04 on my Lenovo Yoga 2 Pro. Here's what I believe to be the relevant portion of the error:

  CC(target) Release/obj.target/scrypt_wrapper/src/util/salt.o
  CC(target) Release/obj.target/scrypt_wrapper/src/scryptwrapper/keyderivation.o
  CC(target) Release/obj.target/scrypt_wrapper/src/scryptwrapper/pickparams.o
  CC(target) Release/obj.target

[2014-04-27 01:22] fiws opened #44 "Does not build on raspberry pi"
Hi,

I get the following error trying to install scrypt on my raspberry pi:
[code]

This *might* be because of some missing packages (It is a fresh install of Arch), but I can't figure out which ones are missing.

[2014-04-27 23:25] oconnore opened #45 "node-scrypt performs unused work"
[code]

https://github.com/barrysteyn/node-scrypt/blob/master/src/scryptwrapper/hash.c#L46
https://github.com/barrysteyn/node-scrypt/blob/master/src/scryptwrapper/hash.c#L57

There is no need to derive a key twice as long as is consumed by the "`Hash`" function. Setting the `key_hmac` offset to 0, and changing the `dkLen` to 32 resolves this.

[2014-04-27 23:42] oconnore opened #46 "The HMAC_SHA256(scrypt, "SHA-128/256"(params)) comparison at the end of the scrypt call does not add security"
The documentation claims,

If an attacker controls the scrypt output referenced by the verifier (i.e. integrity checks would be necessary), they can modify the resulting blob to be any password they like, and you are hosed with or without this construct.

This approach just adds complexity and runtime to the otherwise simple operation of checking that `scrypt(password, salt, params) === stored_ver

[2014-05-13 13:10] mariusk opened #47 "Fails to build on Linode Ubuntu 12.04 LTS Profile (32 bit, 3.14.1-x86-linode58)"
When compiling, the following output is generated:

[code]

Looks like something related to limited SSE support on the node. Some googling around mentions the possibility of missing AVX support as well. Any easy way to attempt to compile without SSE support or similar, or any other ideas to get it building correctly?

[2014-05-14 17:16] #47 closed, assigned to nobody

[2014-06-30 11:11] pnowosie opened #50 "Windows - building from source problem"
Hi,

I'm working on Win7, node 0.10.28.
I must say I'm complete node-gyp ignorant, so I cannot say what goes wrong.

Here is what I did:
 * clone node-scrypt repository
 * run 'node-gyp rebuild'

it fails because I have VS2013 instead of VS2010, so msbuild cannot run without solution upgrade. So I opened build/binding.sln in VS and build it in Release configuration.

My build/Release directory con

[2014-08-28 14:53] shekov opened #51 "Extracting different sizes of N from hash?"
Looking at the hash format:

bytes 6-15: Scrypt parameters N, r, and p

But these variables can be different sizes, especially N, since it can have a really big size (1048576), or a really small one (2)? The big one takes up more bits then the small one.

So how then do you extract these N, r and p values when doing 'verify', is there a delimiter between these 3 values?

[2014-10-05 09:28] rus0000 opened #52 "Asynchronous verify throws instead of returning err object"
[code]
Verify should throw only if there is no callback argument passed to it

[2014-10-08 02:57] rogusdev opened #53 "#error "SSE2 instruction set not enabled" in Virtualbox"
As others have reported, but for different reasons, I cannot npm install scrypt -- I get this error:
In file included from ../scrypt/scrypt-1.1.6/lib/crypto/crypto_scrypt-sse.c:34:0:
/usr/lib/gcc/i686-linux-gnu/4.8/include/emmintrin.h:31:3: error: #error "SSE2 instruction set not enabled"

I am fairly confident that this problem is related to the fact that I do my development in a Virtualbox insta

[2014-10-20 19:04] XVincentX opened #54 "Support back to 0.8"
Hello,
any change to make it work on older version of Node, like 0.8?

[2014-12-23 18:21] hitodama opened #55 "Wrong key encoding throws error `dataWritten == dataLength' failed"
[code]

[2015-01-11 21:32] kermit666 commented on #44
I just tried master and it didn't not fix this issue for me - still complaining about a missing `emmintrin.h`. Say if you need any more testing - I'd love to see this issue fixed.

[2015-01-15 15:32] barrysteyn commented on #44
Hi All
I will look into this over the weekend. Sorry for the delay. Just to note that I am going to be releasing a new version of scrypt within the next three to four months which is a not a C++ addon - it uses pure JavaScript/Node - this should solve everyone's problems.

[2015-01-15 15:33] barrysteyn commented on #44
@kermit666 I may call on your help to test things.

[2015-01-15 15:58] kermit666 commented on #44
@barrysteyn :+1: I have a CuBox-i running constantly at home for developing @cloudfleet stuff, so no problem.

[2015-01-16 09:55] fiws commented on #44
like https://github.com/tonyg/js-scrypt
wouldn't this be a lot slower than the C++ addon implementation? I imagine scrypt being very cpu intensive. (I might be wrong?)

[2015-02-05 22:53] underbluewaters commented on #39
Any news on this? I'm trying to decide whether to use another library.

Sorry I know these messages are annoying, but I have no c++ chops to contribute.

[2015-02-05 23:27] tellnes commented on #39
You should reconsider not using the nan project. nan does not solves all issues, but it solves a lot of them. Also, in the io.js world there is talk about shipping nan with io.js (https://github.com/iojs/io.js/issues/725#issuecomment-73068796).

[2015-02-06 13:19] barrysteyn commented on #39
Yeah - I might do that. But I am still trying to go for a native node solution, then none of these addon problems will be present.

[2015-02-08 19:17] tellnes commented on #39
https://github.com/iojs/io.js/issues/456

[2015-02-09 16:14] barrysteyn commented on #39
@tellnes I really like the IO project, and I want to support it. If you can do some investgation or help me, I would be keen to get this going. Does this really only need nan?

[2015-02-09 16:44] tellnes commented on #39
I can't answer you if all you need is nan because that is a question about if nan exposes the apis you need to do the binding. But if nan exposes those apis, then that should be all you need.

I think the plan is that if v8 changes its api and it can be fixed for node-scrypt by only using a patched version of the nan module, then io.js will do a minor version bump. If it can not be fixed in nan an

[2015-02-09 16:47] barrysteyn commented on #39
Hmmm. Seems reasonable. Tell me something, has io got more excitement at
the moment compared to node?

On Mon, Feb 9, 2015, 8:44 AM Christian Tellnes <notifications@github.com>
wrote:

[2015-02-09 16:54] tellnes commented on #39
node.js v0.12 was just released. It is far behind io.js. But as of now both are still api compatible. nan does support both io.js and node.js. I think people still believes in the possibility of a merge in the feature, which would be the best for the community. If that is made possible, then you can look at io.js as a bug pull request to node.js.

io.js is how a lot of people wants node.js develop

[2015-02-09 17:02] tellnes commented on #39
Ref if nan is all you need: If nan does not expose the api you need, than you either open a pull request to nan to make it support it or you use the v8 api directly and hope you does not get a new issue like this one if v8 changes its api.

[2015-02-10 16:35] barrysteyn commented on #39
Okay, just for all to know: I am starting to actively work on this issue.

[2015-02-10 23:34] BrandonZacharie commented on #39
+1 for 0.12 support

[2015-02-11 21:53] dmmalam commented on #39
+1

[2015-02-12 23:14] dodtsair commented on #46
I would tend to agree.  Coming from a java background using https://github.com/wg/scrypt the derived key is included in the payload and there is no HMAC on the scrypt parameters.  I do not see how the HMAC gives more security.

[2015-02-12 23:16] dodtsair opened #57 "Support integrating with other scrypt libraries, document HMAC method"
This library might be used to generate the hash while another language and library is used to verify the hash.  To support this the website should include some demo code showing how the provided kdf method can be used to produce the same output as the hash function.  Specifically the algorithm used for the HMAC needs to be documented.

For example java library to do scrypt:
https://github.com/wg/s

[2015-02-12 23:24] barrysteyn commented on #57
This is just a c++ addon, so if you want this feature, I suggest you contact the original author of Scrypt (Colin Percival). That being said, look at the source code for the HMAC algorithm.

I am updating this library to make it native Nodejs code (it is taking time because doing anything crypto related means you have go to be careful). I will try incorporate your requests in that library.

[2015-02-12 23:24] #57 closed

[2015-02-16 20:21] barrysteyn commented on #53
Hi - I am sorry I am replying so late to this. If you are still available, I think I may have a fix. Give me a shout here.

[2015-02-16 20:22] barrysteyn commented on #55
I will make it produce a more appropriate error

[2015-02-16 20:24] barrysteyn commented on #51
RTFM!!! :)

[2015-02-16 20:24] #51 closed

[2015-02-16 20:26] mike-marcacci commented on #39
Just adding my enthusiastic +1 for node v0.12 / io.js 1.2.x support. This is the last package I need updated before I can make the switch in all of my projects :)

[2015-02-16 20:28] barrysteyn commented on #39
Its coming @mike-marcacci I need to go over the entire source code. I got about half way over the weekend.

[2015-02-16 20:31] #54 closed

[2015-02-16 20:37] tjconcept commented on #54
Well.. Now it's probably time to move on to 0.12 ;)

[2015-02-16 20:41] mike-marcacci commented on #39
@barrysteyn that is so great to hear! Thanks so much for your weekends

[2015-02-19 10:02] mariusk opened #58 "Fails to build with node v0.12.0"

[2015-02-19 13:34] barrysteyn commented on #58
See #39

[2015-02-19 13:34] #58 closed

[2015-02-19 13:40] mariusk commented on #39
+1 thx

[2015-02-19 16:09] barrysteyn commented on #39
Just a quick update for everyone: I have been diving into nan. There are many things I need to use that are not documented, so I am forced to look at the nan source code. Things are coming along quite well: I may finish things by the end of this weekend. If I am not able to finish by the end of this weekend, I should finish by the end of next weekend.

[2015-02-22 21:27] 501st-alpha1 commented on #43
I had this problem too. My CPU supports SSE, but it isn't enabled by default. Apparently [GCC doesn't enable SSE by default for i386 CPUs](http://gcc.gnu.org/onlinedocs/gcc-4.7.2/gcc/i386-and-x86_002d64-Options.html#index-mfpmath-1397).

To fix this, I did `export CFLAGS="-msse2"` before running the build command, and after that it worked.

[2015-02-23 01:05] barrysteyn commented on #43
I just want to add something here. This is a very common problem that people are having. To alleviate this problem, I am going to be adding a way to manually enable or disable SSE2. Thanks @501st-alpha1 for the tip - I can make this even easier to use now.

[2015-02-23 14:47] barrysteyn commented on #39
Another quick update: It turns out that I underestimated the size of the work needed to accomplish this task (I think that was why I put it off in the first place). Seeing as this is crypto code we are dealing with, I need to be very careful how things are implemented. The good news is that things are coming along. In my last comment, I said I should finish by the end of next weekend, and I still

[2015-02-23 18:01] mike-marcacci commented on #39
Thanks so much for all your work and time @barrysteyn! If you're ever in Southern California... I owe you a beer. If you think there's a way for others to contribute without stepping on your toes or interfering with your vision, let us know!

[2015-02-24 14:52] tellnes commented on #39
+1 what @mike-marcacci said except I live in Trondheim, Norway.

[2015-02-24 14:58] barrysteyn commented on #39
Hi @tellnes and @mike-marcacci - Thank you so much for this offer. Honestly, just knowing that there are people who are using my software is enough payment for me.

If this were an ordinary project, I would be very happy to accept help from you guys. The problems is that is is crypto code. If you guys are to help, you must know Colin Percival's C scrypt library inside out and also Node (as well as

[2015-02-24 15:29] timshadel commented on #39
@barrysteyn I'm really grateful that you're doing this work as well. I know Colin's C scrypt code pretty well, but not as much the C++ Node part. Honestly, the thing that's enticing about this library is the C++ part. I tried out a pure JS version a couple weeks back, and the performance was terrible in comparison. We're using your library when authenticating a certain set of API calls, and the ex

[2015-02-24 15:37] barrysteyn commented on #39
@timshadel Excellent, thanks so much. I promise, the new scrypt module is coming along. I am actively working on it, its just that I am also an engineer lead at a huge multinational software company. So time... But its my top priority now in terms of my open source projects.

[2015-03-02 05:33] barrysteyn commented on #39
Okay, as promised, I have something that works for both Node 0.10 and 0.12. But I need people to help me out by just testing it. Can anyone who is interested in giving me feedback please clone the *nan-update* branch and test the module from there. Also, please can you put your feedback on this github issue. Thanks - I am going to sleep now :)

[2015-03-02 14:58] barrysteyn commented on #46
There are a few reasons why I am doing this:

 1. Probably the most important reason: Colin Percival (the creator of Scrypt) is doing this. In fact, this is his code, I am not touching it (I am merely writing the Node interface to his C++ code).
 2. Integrity is not only the case when someone controls the verifier. It essentially thwarts any type of active attack (or at least, that is what it's pu

[2015-03-02 14:58] #46 closed

[2015-03-02 15:00] barrysteyn commented on #45
Have you actually tried to change the code and see what happens when you do this.

[2015-03-02 15:00] #45 closed

[2015-03-02 15:02] barrysteyn commented on #55
Hi @hitodama

You have a good point. There should not be any exceptions thrown. The problem is that changing the code may break it to the point where people will have to rewrite their libraries again. Perhaps we can have a compatibility mode? I am up for suggestions, what do you think?

[2015-03-02 15:03] barrysteyn commented on #52
Hi @rus0000

You have a good point. There should not be any exceptions thrown. The problem is that changing the code may break it to the point where people will have to rewrite their libraries again. Perhaps we can have a compatibility mode? I am up for suggestions, what do you think?

[2015-03-02 15:06] barrysteyn commented on #55
@hitodama Sorry for the obtuse answer above. You are absolutely correct, this is a bug. I will fix it ASAP.

[2015-03-02 15:38] barrysteyn commented on #55
This is resolved in  commit d1b62e57b373f3b51ab77083738153a3bac1a115

[2015-03-02 15:39] #55 closed

[2015-03-02 15:39] barrysteyn commented on #55
Note: I will roll out this fix when I roll out the Nan updated

[2015-03-02 15:51] barrysteyn commented on #44
@fiws or anyone actually, I would like some help solving this issue. If you are prepared to work with me, then lets do it. I am releasing a Nan updated version of this library, after which, I want to nail this bug. The nan update has been completed, I am just waiting for the community to give feedback, so we can do this now

[2015-03-02 15:53] barrysteyn commented on #44
@fiws Also, I should comment on that link. I think the author has used a C++ to JavaScript compiler to make pure JS out of the code. That is not the approach I am going to take. I wish to make my library from the ground up by hand. Of course, since this library is so popular, I am also going to support it and keep developing on it.

[2015-03-02 15:57] #23 closed

[2015-03-02 17:08] tellnes commented on #39
You could start by changing the engines field in package.json for that branch. npm currently fails with the following error:

[code]

[2015-03-02 17:20] barrysteyn commented on #39
@tellnes Good catch. Just committed it (a7763071cd3effeb8c0d1a88309a13950b490225) - please can you check again.

[2015-03-02 17:23] tellnes commented on #39
Also, `engineStrict` will be removed from npm, https://github.com/npm/npm/commit/7c81a5f5f058941f635a92f22641ea68e79b60db.

[2015-03-02 17:45] tellnes commented on #39
It still does not work to run `npm install barrysteyn/node-scrypt#nan-update`, but that could be a caching problem or a bug in npm.

I've cloned the repo and all tests passes on io.js v1.4.2 for me.

[2015-03-02 17:58] fiws commented on #44
@barrysteyn would love to still help, but I can't find the SD card for my raspberry right now.

[2015-03-02 18:02] dpatti commented on #39
I'm getting a segfault with the following repro:

[code]

This is node 0.12 on ubuntu x64. If you can't repro, I would be happy to dig into it more.

[2015-03-02 18:21] tellnes commented on #39
Running `npm rebuild` from an other package which depends on scrypt fails.

[code]

Running `npm rebuild cpuid` first and then `npm rebuild scrypt` after seems to work.

[2015-03-02 18:25] barrysteyn commented on #39
@dpatti I cannot reproduce your error. You are going to have to dig some more to help me out. I have almost the identical setup. Your test suite will throw an exception, but it should not segfault.

[2015-03-02 18:27] barrysteyn commented on #39
@tellnes I know about that error, but I am going to fix this up in another issue. Right now, I just need to know that the core module works. So if you get that error, can you please just manually install cpuid for now. Also, I am going to remove CPUID completely, instead, I am going to detect on my own for SSE compatibility.

[2015-03-02 18:29] tellnes commented on #39
No problem. I'm just reporting it.

[2015-03-02 18:52] barrysteyn commented on #39
@tellnes I have removed engineStrict, replaced it with engine-strict. Thanks.

[2015-03-02 18:57] tellnes commented on #39
They are removing support for `engineStrict` in package.json and is saying you should use npm config instead. In practice that means the the decision is in the hands of the user and not the module author. See https://github.com/npm/npm/issues/7171#issuecomment-70609581 for details.

[2015-03-02 19:04] barrysteyn commented on #39
Hmmm - can npm config get this from package.json? If so, I am going to leave my change be. If not, then I will remove it.

[2015-03-02 19:13] tellnes commented on #39
Not that I'm aware of, but I'm not an expert on npm.

[2015-03-02 21:18] dpatti commented on #39
I forgot about the encoding on the buffer in my original repro, but even with it (I updated my last comment) I am still getting a segfault on 0.12 but not 0.10. I will admit my C++ debugging chops are not what they used to be, so in my naive approach, I have isolated the problem here:

[code]

If I run this same code with `_keyEncoding` instead, it works. It looks to me like `CreateScryptConfigObj

[2015-03-02 21:37] barrysteyn commented on #39
Hi @dpatti

Thanks for doing the investigation. Short story: I know why it is segfaulting, and I have fixed the problem (get the latest from the nan-update branch).

Long story: In order to hide encoding settings from JS land, I use something called SetHiddenValue (it is a V8 function) that hides properties from users, it can only be accessed by the C++ api. In previous versions of V8, if you acce

[2015-03-02 21:47] dpatti commented on #39
My original repro case is working now, and all of our tests are passing. :+1:

[2015-03-02 22:35] dpatti commented on #39
I am running into another issue. We keep modules checked in to source control after installing with `--ignore-scripts`. We always do an `npm rebuild` to compile all dependencies. In the case of the newer scrypt, we have this problem:

[code]

What happens is `cpuid` prints to stderr, which causes gyp to stop and fail regardless of the exit code. And honestly, I don't know how to fix this. I don't

[2015-03-02 23:09] gavinhungry commented on #39
Cloned the *nan-update* branch, built successfully and all tests (216) passed with node v0.12.0 (Linux). Thanks for all your work!

[2015-03-02 23:10] alemhnan commented on #39
I just tried to use the *nan-update* branch on heroku and it worked without strange problems. Although locally I do have experienced some of the problems mentioned above in this thread. In heroku I explicit included cpuid, not sure if that was needed.
I tried both node versions (0.10.36 and 0.12.0), locally and on heroku as well.

Keep up the good work!!

[2015-03-03 00:51] barrysteyn commented on #39
@dpatti This seems to be a standard problem with cpuid. I am going to change the way the module detected SSE2 availability thereby getting rid of cpuid, but that is not going to happen for this issue.

[2015-03-03 14:52] barrysteyn commented on #39
@timshadel Hi Tim - please can you test the latest nan-update branch for me and tell me if the performance is still okay for you?

[2015-03-03 15:08] barrysteyn opened #59 "SSE Support"
SSE support is an issue with this module. When I originally developed the module, I used a dependency called [cpuid](https://github.com/brainling/cpuid-node) to determine if the client cpu had SSE ability. Unfortunately, *cpuid* is not actively maintained and the dependency is giving lots of trouble. It results in this module not being able to be used.

I propose to change how things are currently

[2015-03-03 20:24] timshadel commented on #39
The performance looks just fine to me. It is slower, but only slightly, so it's well within the timeframes we need to hit.

[2015-03-03 20:25] barrysteyn commented on #39
@timshadel I have an idea why it is slower (that's why I asked you to test it). Let me apply some fixes and see if it makes it faster. I will probably move my dev to a new branch for this. I will try finish this week with the fixes

[2015-03-03 20:30] timshadel commented on #39
Interestingly, when I use the _nan-update_ branch on node 0.10.35 the performance is essentially equal to the current version of scrypt (0.10 only), but when I run it on 0.12.0, the performance drops slightly. So it may not be scrypt#nan-update at all, but something else in my setup.

[2015-03-03 21:01] barrysteyn commented on #39
@timshadel Hmmmm, then I don't think my fix will work. It could be a node 0.12 thing. By how much does the performance drop by?

[2015-03-03 22:31] timshadel commented on #39
OK. After isolating the scrypt verification, I collected timing data on scrypt-3.0.1@node-0.10.35, scrypt-nan-update@0.10.35, and scrypt-nan-update@0.12.0. I did 3 runs. For each run I generated 300 hashes, and then looped over them and timed how long each successful verify call took under each environment. I then used a two-sided t-test against the pairs of environments to assess if the timing sa

[2015-03-03 23:21] barrysteyn commented on #39
@timshadel Excellent. This is good to hear.

[2015-03-04 01:40] barrysteyn commented on #39
This issue is now officially closed in 223f039f410d3f80903ad7f0b0bf71e7956fb8a4

[2015-03-04 01:40] #39 closed

[2015-03-04 01:42] barrysteyn commented on #53
This should be fixed in the new release.

[2015-03-04 01:42] #53 closed

[2015-03-04 01:45] thehydroimpulse commented on #39
@barrysteyn Does this bring support for 0.12 only or also io.js?

[2015-03-04 02:57] barrysteyn commented on #39
Should work for io.js as well (although I have not tested it). Looking at the above comments, you can see other people have tested it and it works fine. But I aim to support io.js - infact, I am much more keen on it than I am of node. In short: Yes, it will support io

[2015-03-04 03:05] barrysteyn commented on #59
okay, I have implemented this change in ce2afa91288a5256adfa64d2147b1ad2c0517b9f

I believe the trouble that people have with cpuid will go away now

[2015-03-04 03:05] #59 closed

[2015-03-04 04:08] barrysteyn commented on #44
@flws I think I have solved this problem now - I no longer use CPUID. I am going to close this issue, but I expect it to build properly on raspberry pi now. If you have an issue down the road, then reopen the issue.

[2015-03-04 04:08] #44 closed

[2015-03-04 04:34] taoeffect commented on #39
Hey @barrysteyn (and everyone else helping with this project), I just want to say that I really appreciate the work you guys are doing on this. It's an important project, so thank you for the recent activity, fixes, etc.! :+1:

[2015-03-04 13:23] c-geek commented on #39
@barrysteyn All tests passed for me on nan-update too. Thank you very much for your work, you've come along with the right time!

@taoeffect You again!

[2015-03-04 15:03] barrysteyn commented on #39
Hi Everyone. Thanks for the support. Knowing that people are using my software makes all the difference. If you want to say thanks, the best way I can think of is to just send me an email (barry.steyn@gmail.com) and tell me how you guys are using my software.

[2015-03-04 15:07] barrysteyn commented on #43
@501st-alpha1  Please can I ask your help: I am now detecting architecture and setting the appropriate flag. Actually, I am setting "-march=native" which should activate the necessary flags. I have pushed this change to a branch called *correct-flags-for-sse* - can you please get that branch and try rebuild the module without setting the environment variable and tell me if it works. In fact, if an

[2015-03-04 15:09] dmmalam commented on #39
Thanks for building this.

Dharmesh Malam

On Wed, Mar 4, 2015 at 3:03 PM, Barry Steyn <notifications@github.com>
wrote:

[2015-03-04 20:14] dpatti opened #61 "Segfault in master"
Previous discussion: https://github.com/barrysteyn/node-scrypt/issues/39#issuecomment-76826204

It looks like the change you made to add the hidden `_hashEncoding` was lost when the nan branch got merged to master, and I'm seeing the segfault again.

[2015-03-04 21:02] barrysteyn commented on #61
Whoops, sorry. This is fixed and already resubmitted to NPM again. Please can you test and confirm for me?

[2015-03-04 21:29] dpatti commented on #61
@barrysteyn Looks good, thanks for the fast turnaround :+1:

[2015-03-05 14:42] #61 closed

[2015-03-05 14:43] #50 closed

[2015-03-05 14:44] barrysteyn commented on #43
This issue should be resolved now. I am adding the flag -march=native, which should automatically detect and use SSE if available.

[2015-03-06 05:37] 501st-alpha1 commented on #43
I cloned the repo and switched to branch `correct-flags-for-sse`, then ran `node-gyp configure build`. This is the output I got (not sure how much is relevant, so I'll post all of it):

    gyp info it worked if it ends with ok
    gyp info using node-gyp@1.0.2
    gyp info using node@0.10.36 | linux | ia32
    gyp info spawn python
    gyp info spawn args [ '[snip]/nvm/v0.10.36/lib/node_modules/n

[2015-03-06 14:59] barrysteyn commented on #43
hi @501st-alpha1

Two things:

1. The branch you tried is no longer relevant. I forgot to delete it, please can you try with the master branch
2. Ensure that you have python 2.7 installed, and that you are not using python 3 for node-gyp. node-gyp does not work with python version 3 (ignore this advice if you are not using python version 3).

Please can you try again and report back. I have remove

[2015-03-06 18:52] 501st-alpha1 commented on #43
1. No problem.
2. I confirmed that I am using Python 2.7.3. (That is the output of `python -V`.)

When I tried the build again from `master`, this was the last few lines of output:

      CXX(target) Release/obj.target/scrypt/scrypt_node.o
    ../scrypt_node.cc:28:17: fatal error: nan.h: No such file or directory
    compilation terminated.
    make: *** [Release/obj.target/scrypt/scrypt_node.o] E

[2015-03-06 19:46] barrysteyn commented on #43
Okay, you first need to install nan if you are going to compile it from source. So here are the instructions to get it going:
 1. Clone the master branch
 2. Go to the cloned folder, type: `npm install` (this will install all dependencies, including nan)
 3. Then rebuild: `node-gyp rebuild`

This should work. If that works, then try for the tests. Type `npm test`. If all those pass, then go for gl

[2015-03-06 21:44] 501st-alpha1 commented on #43
Success! Following your instructions, the build succeeded without error (including a separate run of `npm install scrypt`). Also, all tests passed. Thanks!

[2015-03-06 22:14] barrysteyn commented on #43
Excellent. Then I will assume that this issue is solved :+1:

[2015-03-06 22:14] #43 closed

[2015-03-08 03:36] BrandonZacharie commented on #52
It is documented that `scrypt.verify` expects a very specific format. Passing a `String` instead of a `Buffer` is clearly a programmer error. [Throwing in this situation follows Node's design guidelines](https://www.joyent.com/developers/node/design/errors#). However, I have not seen documentation around the fact that it throws. I recommend adding that instead.

[2015-03-08 13:06] erlichmen opened #62 "4.x version needs AVX instruction set?"
I just update to the latest version of scrypt (4.x.x) which changed the way the SSE is detected.
The application that use this module crashes when running on Google Cloud Platform with "Illegal Instruction" exception.

Here is the instructions bytes that crashes the app (I used valgrind to find them):  0xC5 0xF9 0x57 0xC0 0xE8 0x6B 0xE1 0xFF

Using disassembly those instructions are:
c5f957c0	vxor

[2015-03-08 14:32] barrysteyn commented on #52
@BrandonZacharie Thanks for the article. I knew I had an uneasy feeling about changing this behaviour. I will document in a few days time...

[2015-03-08 14:38] barrysteyn commented on #62
Hi @erlichmen

This is very interesting. To my knowledge, no AVX instruction is being used explicitly. However,  I am setting a gcc flag (-march=native) that may for some reason result in the compiler introducing those instructions. Okay, I need some more information from you:

 1. Can you determine what architecture (i.e. type of cpu) your Google Cloud Compute instance is running on (e.g. x64, ia

[2015-03-08 15:48] erlichmen commented on #62
1. The architecture is definitely x64 and most SSE operations are supported but no AVX, here is a dump of /proc/cpuinfo:
  processor	: 0
  vendor_id	: GenuineIntel
  cpu family	: 6
  model		: 45
  model name	: Intel(R) Xeon(R) CPU @ 2.60GHz
  stepping	: 7
  microcode	: 0x1
  cpu MHz		: 2600.000
  cache size	: 20480 KB
  physical id	: 0
  siblings	: 2
  core id		: 0
  cpu cores	: 2
  apicid		: 0

[2015-03-08 17:16] barrysteyn commented on #62
Hi @erlichmen

You have a good point regarding point 1, which is why I think things are happening to you. Just researched a bit about `march=native` and yup, this is the very case that they warn about (compiling on a machine that is not the target).

Let me change the flags and see if it works. Are you able to test if I give you a branch?

[2015-03-08 17:17] erlichmen commented on #62
@barrysteyn Sure, give me the branch and I'll test

[2015-03-08 17:23] barrysteyn commented on #62
@erlichmen Okay, I have created a branch called Shay. It does not have the offending switch. Can you test it out and report back here.

[2015-03-08 17:24] barrysteyn commented on #62
@erlichmen Yikes, wait two seconds, I forgot to submit the file

[2015-03-08 17:27] barrysteyn commented on #62
@erlichmen Okay, can you try now (correct files are submitted and pushed)

[2015-03-08 17:39] erlichmen commented on #62
I tested with the latest files on the same platform and it seems to be **working**

[2015-03-08 17:43] barrysteyn commented on #62
@erlichmen I thought so. Thanks so much for the feedback. I will adjust and republish on NPM (within the next 15 minutes).

[2015-03-08 17:47] barrysteyn commented on #62
This issue is resolved in 3332f85c9fee5f11d352e83102a538b139d2a715

[2015-03-08 17:47] #62 closed

[2015-03-10 22:46] BrandonZacharie opened #63 "Unexpected callback argument type"
In version 4.0.6 `verifyHash` may invoke its `callback` argument with the first argument `err` as `undefined`. However, the documentation states that this argument _is defined as type `Error`_. In JavaScript, being defined means that it (excluding primitives) should be `null` in the absence of an instance as opposed to `undefined`. In essence, `undefined` is short for _undefined behavior_ which is

[2015-03-11 11:23] rus0000 commented on #52
Function argument can be string or Buffer, and both are valid. Then, function is called with wrong argument type for given runtime configuration. Is it a programmer or operational error?

[2015-03-11 18:06] barrysteyn commented on #52
@rus0000 and @BrandonZacharie We need to make a decision about this. In my original thinking, I thought that this was a programmer error. What do you guys think?

[2015-03-11 18:07] barrysteyn commented on #63
@BrandonZacharie This is the problem with JavaScript in general. IMHO, a language where people quibble over the meaning of undefined vs null is a bit broken (don't worry, I still like JavaScript, I just think it needs to be fixed).

What you say makes sense, can I ask that if I change this to Null, will you update the documentation where necessary?

[2015-03-11 21:49] BrandonZacharie commented on #52
The following is an excerpt of section _Bad input: programmer error or operational error?_ from [Node's design guidelines](https://www.joyent.com/developers/node/design/errors)

The following is an excerpt of section _Operational errors vs. programmer errors_ from [Node's design guidelines](https://www.joyent.com/developers/node/design/errors)

  * tried to read property of "undefined"
  * called

[2015-03-11 23:23] BrandonZacharie commented on #63
I understand how you feel; something feels evil about having both especially since `undefined == null`. Unfortunately, `undefined` is a necessary evil. Since JavaScript is not a strongly typed language `var foo;` doesn't tell you if `foo` is supposed to represent a struct (which can never be `null`), a class instance, an integer, or anything else for that matter. In other words, we don't know what

[2015-03-12 01:31] barrysteyn commented on #63
Hi @BrandonZacharie

Thanks for the recap regarding undefined and null, it brings me back to my "JavaScript the good parts" days :) What a classic book!

The thing is, even though I get you regarding why undefined is used, the fact that both undefined and null can - by and large - be used interchangeably and (again - by and large -) have the same effect means it is just badly designed. Other langu

[2015-03-12 05:32] BrandonZacharie commented on #63
You're right that, in practice, they're quite interchangeable. With the exception of a few legitimate cases, my argument was largely based on principle. I'll leave the full explanation of why we can't use `null` for everything to another day. FWIW, I have _never_ seen a JavaScript built-in or native Node.js module intentionally pass `undefined`.

I think you've made excellent design decisions rega

[2015-03-12 12:57] barrysteyn commented on #63
HI Brandon

I have made a brandon branch which should return null instead of undefined for all error objects. I was hoping you could do the following:

 1. Test it!
 2. If it works, maybe you could write some tests and add it to the tests (although you don't have to if you don't want to).
 3. Add some documentation. Do note that not only verify will throw an error if you get the encodings incorrec

[2015-03-13 12:16] BrandonZacharie commented on #63
I couldn't get around to it yesterday but I'll take some time to handle it this weekend.

[2015-03-13 13:41] barrysteyn commented on #63
Okay, thanks for letting me know

[2015-03-16 17:16] barrysteyn commented on #52
To note, that this is not an issue. This is being thrown because it is deemed a programmer error. This has been documented and in 29dabe135c2423f3a173aebc6d7e2deaf8d145db

[2015-03-16 17:16] #52 closed

[2015-03-16 17:18] barrysteyn commented on #63
@BrandonZacharie Hi - this is resolved, tested and documented in 29dabe135c2423f3a173aebc6d7e2deaf8d145db

I realized that the initial fix I made for you was a bit buggy. So I did some more implementation, and added things to the tests. I also updated the documentation.

Please can you check the documentation and if you have anything to add, please fork and make a pull request.

Thanks so much for

[2015-03-16 17:18] #63 closed

[2015-03-18 08:21] mike-marcacci opened #64 "Make sure to push tags"
Hey @barrysteyn! Thanks again for the awesome project. Just a quick reminder to push any version tags you've got locally. I was just looking for a diff between two versions (just to satisfy a curiosity of mine) and noticed that the tags are missing from the repo.

Cheers!

[2015-03-19 15:14] barrysteyn commented on #64
@mike-marcacci Unfortunately, when I started this project, I also started learning git. I knew about tagging when I was using SVN, but the information overload resulted in me not tagging releases. This is a mistake (I know) but I just don't have time to waddle through the history and start tagging now.

I would consider it a great addition and help to this project if you would go into the past and

[2015-03-19 17:48] mike-marcacci commented on #64
Oh ya, I wouldn't mind doing that at all! I just mentioned this here because if you use the npm cli to do something like `npm version minor` or `npm version v2.1.0` etc. it automatically creates the tags for you. I frequently run `npm version patch && npm publish` and totally forget to push the created tag to my repo. Thought that might be the case here. I'm not sure it's possible to pull-request

[2015-03-20 23:18] tellnes commented on #64
My publish line is:
[code]

[2015-03-22 15:53] barrysteyn commented on #64
@tellnes Yup, that's quite cool. I also use a combination of commands "knitted together" by &&, but the very fact that of using && always makes me think that maybe this should just be scripted :)

Thanks though, I hope you are enjoying using scrypt.

[2015-03-24 13:06] barrysteyn commented on #64
@mike-marcacci Would you mind if I closed this issue? If you have time, I would absolutely love the tags (I may even get time to do it myself, but not for the next couple of weeks). What do you say?

[2015-03-27 19:41] tracker1 commented on #64
@barrysteyn  The command knitting works in *nix and windows environments... bash scripts, not so much.  ;-)  I tend to favor either node JS scripts, or knitted commands for my package.json/scripts

[2015-03-29 20:35] mike-marcacci commented on #64
Ah yes, sorry for the slow reply (was out of town) – unfortunately, it's impossible to PR a tag. However, I've got the git hashes for all the 4.x versions (from the npmjs registry). Unfortunately, it's missing the refs for any other versions. You should be able to `git checkout [HASH] && git tag v4.0.[X]` (replacing [HASH] and [X]). Then just `git push origin --tags`.

[code]

Thanks again!

Cheer

[2015-03-29 20:35] #64 closed

[2015-04-01 04:29] fresheneesz opened #65 "Better readme table of contents"
The readme is a little hard to navigate. It has a small table of contents, but I suggest you put in one that's has more sections (deeper sections). If you don't already use a tool for this, I suggest you guys use [doctoc](https://github.com/thlorenz/doctoc) to make one automatically.

As an aside, it would also be helpful if all the information for a particular method were all in one place, instea

[2015-04-01 06:41] fresheneesz opened #67 "Global config changes can adversely affect unrelated parts of a system"
Its probably not a good idea to use global config variables like `script.hash.config` and `script.verify.config`. Since node.js caches modules, one system that uses `scrypt` could unknowingly break a different system if it changes the config. And if you have two places in your code where you want to use scrypt with different encodings, its currently very awkward to do.

Really, I would completely

[2015-04-01 08:01] fresheneesz opened #68 "scrypt.verify and scyrpt.hash aren't functions"
While callable, `scrypt.verify` and `scrypt.hash` aren't javascript functions, and don't have `apply`  and `call` methods. Can this be improved?

[2015-04-01 08:33] fresheneesz opened #69 "Some Errors are not javascript Error objects"
If you pass a string when it expects a buffer, it will pass back some awkward error object. For example:

[code]

The above code throws the object:

[code]

What it should throw is a javascript Error object, with a stack trace. Also, the error is confusing - it says the "hash must be a buffer or string" - well I did in fact pass a string. What it should say is "hash exepcts the keyEncoding buffer"

[2015-04-01 08:49] fresheneesz opened #70 "Segmentation Fault if the hash buffer argument is empty for `scrypt.verify`"
If you (accidentally) pass in an empty buffer to `verify`, the program seg faults.

`scrypt.verify(new Buffer(''), new Buffer('test', 'utf8'))`

[2015-04-01 13:13] barrysteyn commented on #65
Hi @fresheneesz

Please be my guest and open a PR :)

[2015-04-01 13:19] barrysteyn commented on #65
Okay, I see you have submitted a PR. Let me look over it...

[2015-04-01 21:11] barrysteyn commented on #65
Resolved in #65

[2015-04-01 21:11] #65 closed

[2015-04-01 22:12] fresheneesz opened #71 "`scrypt.verify` throws when password doesn't match instead of returning false"
The readme says that `script.verify` should return a boolean, but instead of returning false on a failing check, `verify` throws an object with some internal codes and error messages in a very non-javascripty format.

[2015-04-02 21:33] barrysteyn commented on #67
@fresheneesz Thanks for bringing this up. The module has been designed from the ground up to "mix and match" different encodings. I get it that binary buffers are easy to transcode and create, but I wanted people with crypto knowledge (not necessarily nodejs knowledge) to use this module. Crypto people are very familiar with specifying encodings. In my mind, it lowers the barrier to entry since pe

[2015-04-02 22:15] fresheneesz commented on #67
If you want to keep the encodings in, why not have the encodings as optional parameters to the `hash` and `verify` functions?

[2015-04-02 22:44] barrysteyn commented on #67
Encodings are everywhere - in hash, verify and kdf. The thing is, I like a global config, but obviously, if someone uses require more than once, state should not follow.

[2015-04-02 23:00] barrysteyn commented on #67
@fresheneesz I think the way to go here is to return a function in the module exports. Then the user would invoke the function to get their object:

`var scrypt = require('scrypt')();`

That would unfortunately not be backward compatible. Do you have any suggestions?

[2015-04-02 23:28] fresheneesz commented on #67
Having encodings be passed in as optional parameters that fall back on the config you provided would be backwards compatible and would allow users to use parameters if/when they decide the need to do so. The downside is the global parameters still mess with people that don't pay attention to the reasons they might need to use parameters instead of the global defaults.

I'd suggest, if a user wants

[2015-04-02 23:36] barrysteyn commented on #67
You make some good points. I am going to think about this and rather tackle the other issues you have submitted first before I make such a big change.

[2015-04-03 14:05] ironwallaby commented on #71
+1

I've run into this behavior too, and think it's inconsistent and bizarre.

[2015-04-03 14:12] ironwallaby commented on #67
+1 to this. Global configs are a very bad idea, since multiple code chunks loading the same library can all override each other. (It's also *extremely* un-JavaScript-like.)

If it were me, I'd suggest the following function signatures:

    scrypt.hash(key, params, callback)
    scrypt.verify(hash, key, callback)

`key` should always either be a UTF8-encoded string, or a buffer. (If you want somet

[2015-04-03 14:17] ironwallaby commented on #69
+1

In Node, *all errors should be instances of the Error prototype*. No exceptions. I've had to wrap the `hash` and `verify` functions in order to enforce this. :(

[2015-04-05 15:20] barrysteyn commented on #67
okay guys, I think I have seen the light and agree with you. Lets do this correct this time and sketch out a proper API. @fresheneesz and @ironwallaby - I will propose something, and lets debate it until we are all happy. This will be a version 5 and will therefore break backward compatibility, so lets just do it correct.

[2015-04-05 20:15] barrysteyn commented on #68
This is true. It is a V8 function whereby you treat objects like functions (I assume that internally, the invocation operators () are just overloaded onto the object). I specifically meant for this to happen. JavaScript when it was first designed was done very quickly, and not that well. So different types of invocations will produce different bindings of the `this` variable to an object. To get a

[2015-04-05 20:15] #68 closed

[2015-04-05 20:18] barrysteyn commented on #69
These errors are actually the original C errors from Scrypt. Okay, I will make the errors an instance of Error. It can be part of version 5

[2015-04-05 20:19] barrysteyn commented on #70
This is an assert gone wrong. I will fix it - but actually, since we are going to design a new API, I will make sure it works there.

[2015-04-05 20:21] barrysteyn commented on #71
@fresheneesz Are you talking about the async or the sync behaviour?

[2015-04-05 20:59] fresheneesz commented on #67
Glad I make a bit of sense now and then ; ) . Happy to discuss!

[2015-04-05 21:03] tellnes commented on #68
If they are function, they should have `apply` and `call` methods. The current behavior does also break `scrypt.verify instanceof Function`.

An easy solution is just to wrap those functions in js-land.

[2015-04-05 21:09] barrysteyn commented on #68
But they are not functions! They are objects with the () operator overloaded (so they look like they are being invoked like a function, but they are not).

[2015-04-05 21:12] fresheneesz commented on #68
Neccessary - no. But it is surprising that `apply` isn't available on them. I have a method that wraps functions with callbacks and turns them into functions that return a future/promise. It was surprising that using those methods failed.

[2015-04-05 21:13] fresheneesz commented on #71
I'm using the asynchronous version.

[2015-04-05 21:37] barrysteyn commented on #68
Darn, I can't remember the exact reason why I did this, but I do remember
at the time that it solved a security issue someone posed to me. Until I
can figure it out/remember it, I am going to keep this as is.

On Sun, Apr 5, 2015 at 2:12 PM, fresheneesz <notifications@github.com>
wrote:

[2015-04-05 21:46] tellnes commented on #68
The documentation calls them functions. Also, it does not make sens to talk about objects with the () operator overloaded when we are in a javascript world. Maybe you solved a security issue, but I'm pretty sure you could have solved that while keeping the functionality js-ish.

[code]

If you implement it like that, then always behave the same for the same arguments independent of what `this` is.

[2015-04-06 01:15] ironwallaby commented on #67
Yup, will be happy to provide feedback!

[2015-04-07 23:50] BrandonZacharie commented on #67
Great discussion here. I also agree that the way to configure scrypt could use improvement. Listed are a few of ways to go about configuration and my thoughts about each:

**Per Module**
This is what is being done now. [This is a normal pattern when a designer chooses convention over configuration](http://www.wikiwand.com/en/Convention_over_configuration). I won't reiterate the con as that has alr

[2015-04-13 14:54] barrysteyn opened #72 "Scrypt Version 5"
Scrypt Version 5.0

@fresheneesz @ironwallaby @BrandonZacharie

This issue is to address #67, #68, #69, #70 and #71. Its outcome is to produce a consistent API that is "JavaScripty". It will not be backward compatible (hence the major version increment). This ticket is here for us as a community to discuss and have a say regarding the future of this module. As such, I will not start developing unt

[2015-04-13 14:55] barrysteyn commented on #67
Lets continue the debate in #72

[2015-04-13 14:55] #67 closed

[2015-04-13 14:55] barrysteyn commented on #69
Lets continue the debate in #72

[2015-04-13 14:55] #69 closed

[2015-04-13 14:55] barrysteyn commented on #70
Lets continue the debate in #72

[2015-04-13 14:55] #70 closed

[2015-04-13 14:55] barrysteyn commented on #71
Lets continue the debate in #72

[2015-04-13 14:55] #71 closed

[2015-04-13 15:10] ironwallaby commented on #72
Yay!

*   Making a wiki is fine, or keeping track of things in issues is fine. I'm happy to poke my head in either way.

*   I prefer sync functions to always throw errors and async functions to always return errors through the callback, but honestly, I'm not sure what the convention is here. I'll accept either way.

*   Regarding Errors, my recommendation is to always return an Error (or a more s

[2015-04-13 15:58] barrysteyn commented on #72
What about how the default salt size is handled in KDF?

[2015-04-13 16:42] ironwallaby commented on #72
The simple option is to pass in an "options" object:

    kdf(key, scrypt_parameters, [options,] callback_function)

The options object is optional. "outputLength", "salt", and "saltLength" are all valid options to appear in that object, and sane defaults are taken if they are not present.

[2015-04-13 17:14] tellnes commented on #72
I just want to confirm we are on the same page on throwing errors.

Programing errors should be thrown immediately, but if that is not possible, the error should be given to the callback. In other words, throwing should only happen synchronously.

Eg. this is ok:

[code]

while this is not:

[code]

[2015-04-13 17:18] ironwallaby commented on #72
@tellnes +1

[2015-04-13 19:01] fresheneesz commented on #72
I'd do this as best effort. We should make a cursory attempt to figure out what internal errors can happen, and modify their messages to be more understandable when necessary. Any ones we missed we can address if someone comes across them organically. As a general note about errors, I just want to mention that if any error message is not a constant string (like you put a piece of the user's input

[2015-04-13 19:11] ironwallaby commented on #72
@fresheneesz I also agree that if synchronous support can be dropped, it should be dropped. It is never a good idea in Node, even if there are (rare) use cases where it is convenient.

[2015-04-15 15:07] barrysteyn commented on #72
Hi guys. Believe it or not, I am the use case of someone that needs synchronous support. I think it comes in really handy when you are messing around and trying to model things. I suspect that any real production usage would not need this, but I'd like to leave it in there for people like me who are not using this on production.

[2015-04-15 15:10] barrysteyn commented on #72
@fresheneesz It turns out the KDF is probably more used than the hash function. The KDF is essentially the Scrypt algorithm. Any application that needs this logic to build things upon (for example, Litecoin) needs to use it. The hash really just wraps the KDF in a HMAC. Anyone who needs to use a pure cryptographic hash function that is Scrypt will be using the KDF.

[2015-04-15 15:13] barrysteyn commented on #72
@ironwallaby I have no idea why I was so against passing config objects into these functions. But it makes total sense (and it can be easily set to documented default values so that it could be optional). I would actually be inclined to go down this route. In fact, I would imagine that we could even keep the API identical to the current version. This brings up the question: Is there anything that

[2015-04-15 17:31] fresheneesz commented on #72
I can agree that synchronous  methods are convenient for messing around with things in a REPL, but you could say that about *any* asynchronous function. Should every function have a synchronous version cause its convenient in a REPL? I'd say that's not a sufficient reason. If you're not in a REPL, you could utilize [node-fibers](https://github.com/laverdet/node-fibers) to turn any asynchronous fun

[2015-04-19 16:39] ironwallaby commented on #72
Regarding keeping the current API but with options arguments with sane defaults: that'd work for me, too.

[2015-04-30 19:15] barrysteyn opened #73 "Alter API To Incorporate Changes From #72"
Refer to the discussion in #72.

The new API will not have a global config setting. Instead, a config object will be used for. All encodings will also be assumed to be of type *buffer*, which can be transcoded into any of the formats used in the past.

## Params
This will stay the same as previously.

## KDF

Currently:

This task will change it to:

If salt is not provided, then a random generate

[2015-04-30 19:15] barrysteyn commented on #72
Hi all - please can you look at #73 and make some comments. I will start on this ticket over the weekend.

[2015-04-30 19:16] ironwallaby commented on #73
:+1:

[2015-04-30 20:32] fresheneesz commented on #73
Looks good!

[2015-05-01 13:04] Joris-van-der-Wel opened #74 "scrypt functions are not really functions (typeof)"
[code]

This seems to break [promisification](https://github.com/petkaantonov/bluebird/blob/master/API.md#promisification) in bluebird.

[2015-05-01 13:05] barrysteyn commented on #74
It's on the fix list - so don't worry, it will become a proper function

[2015-05-14 18:36] Demurgos commented on #74
I have to second this issue, the `instanceof` operator also fails.
It bothers me especially because I have to manually set the `apply` method to `Function.prototype.apply` in order to pass it to the promises lib I use (`Q`) and it doesn't feel neat.

I hope it's easy to fix and I would like to thank you for your work.

[2015-05-19 08:10] alex94puchades opened #75 "Scrypt#verify should not return error on password mismatch"
The current behaviour of scrypt#verify(async) of triggering an error if password mismatch is not coherent with the sync version. I strongly think that scrypt#verify (async) should not invoke the callback with an error in this case.

An error should be triggered in the case that the password verification has not been able to take place, and therefore information about whether password matches or no

[2015-05-19 13:49] alex94puchades commented on #75
Sorry, I didn't notice it was already reported in [#71](https://github.com/barrysteyn/node-scrypt/issues/71).

[2015-05-19 13:49] #75 closed

[2015-05-19 15:06] barrysteyn commented on #75
Hi @alex94puchades

Just a quick note. I am in the middle of totally redesigning this library. I am aiming for a mid june release.

A quick note on your point: Are you thinking of having a result variable that will indicate whether the password was a match (a boolean result)? I do agree that an error in this case is not the best.

I wonder if you can do me a favor. Can you please paste your origin

[2015-05-19 16:01] alex94puchades commented on #72
Hi everyone, I'm copy-pasting this from [#75](https://github.com/barrysteyn/node-scrypt/issues/75) so that we can benefit from more feedback:

The current behaviour of scrypt#verify(async) of triggering an error if password mismatch is not coherent with the sync version. I strongly think that scrypt#verify (async) should not invoke the callback with an error in this case.

An error should be trigg

[2015-05-20 15:12] barrysteyn commented on #72
@alex94puchades That sounds like a good suggestion. @ironwallaby @tellnes @fresheneesz  What do you guys think?

Also, while everyone is listening :), I aim to get version five out the door by June 15th.

[2015-05-20 15:15] ironwallaby commented on #72
I agree: I do *not* consider that a password mismatch to be an error. (An error should be an exceptional condition when something goes very wrong; password mismatches are commonplace and should be considered so!) Returning an error (for exceptional problems) and a boolean (for, when no error occurred, whether the password verifies or not) is the API I'd like to see as well.

[2015-05-20 17:48] fresheneesz commented on #72
I definitely agree that the verify function should return (to the callback) a boolean of whether or not it matches. I actually thought that was already part of this next release.

[2015-05-25 04:52] mikepb commented on #72
For synchronous support, it would be nice to return ES6 Promises (when available) if no callback is given. This would enable support for [co][] and support [ES7 await][await] in the future.

[co]: https://github.com/tj/co
[await]: https://github.com/lukehoban/ecmascript-asyncawait

[2015-05-25 05:45] barrysteyn commented on #72
Yes, I already thought of that. You can definitely count on that feature
being present. In fact, promises are what make node worth while for me.
On May 24, 2015 9:52 PM, "Michael Phan-Ba" <notifications@github.com> wrote:

[2015-05-31 14:31] tellnes commented on #72
+1 for wrong password not being an error.

[2015-05-31 14:49] tellnes commented on #73
I want to propose a change to the encoding configuration. Are configuring `outputEncoding` really necessary? Why not always return a `Buffer`?

And what will happen if you defines `'buffer'` as `keyEncoding` (which it defaults to) and pass in a string? Should it convert it to a buffer (assuming it is utf-8) or throw a `TypeError`?

[2015-05-31 22:01] fresheneesz commented on #73
@tellnes I agree with you, but this has been discussed and making the config optional was the compromise on that front.

[2015-06-02 20:33] BrandonZacharie commented on #73
I believe it should throw a `TypeError` since providing the wrong type is a programmer error.

[2015-06-08 15:14] barrysteyn commented on #72
Hi All

I just want to give everyone an update, and also ask for some advice. First an update: I am making goofd progress. I hope to have this finished by 16 June, but if that does not happen, then I will only be able to work on it again in 1 July (going on vacation for two weeks).

With regards to async/sync, I am definitely going to have two different versions of the functions, the one names Syn

[2015-06-08 15:15] ironwallaby commented on #72
Fine by me. This is already a major version bump, so breaking backwards-compatibility is reasonable.

[2015-06-08 17:43] mikepb commented on #72
Promises have been standardized as part of ES6: https://www.promisejs.org

You can use [`es6-promise`](https://github.com/jakearchibald/es6-promise) for polyfill:

[code]

[2015-06-09 04:39] fresheneesz commented on #72
@barrysteyn Looks good. Definitely use a promise/futures library rather than creating one (if that was what you might have been thinking). Make sure to use one that has a 'done' method, since that's important for not losing unexpected errors.

[2015-06-10 01:07] tellnes commented on #72
I'm not (jet) a promise user and personally don't want it. But I see that it is a demand for it and is not going to argue against it. Async/await which comes in es7 is probably going to change my mind about it.

But, please don't use `require("es6-promise").polyfill();`. It polyfills the global environment and not just your library.

Also, please consider that you are basically adding a new depend

[2015-06-10 01:35] mikepb commented on #72
Good point on not polluting the environment. Most libraries make an internal reference to the desired Promise implementation or require the user to set it as a property on the module.

[code]

[code]

[2015-06-10 11:25] alex94puchades commented on #72
Why use ```js typeof Promise != "undefined" ``` and not simply ```js Promise !== undefined```? Isn't comparing strings slower?

[2015-06-10 14:50] mikepb commented on #72
`Promise !== undefined` throws a `ReferenceError` if it's not defined in the global scope whereas `typeof Promise != "undefined"` does not. `undefined` may also be overridden by a global variable, e.g. `var undefined = false`.

[2015-06-10 18:09] BrandonZacharie commented on #72
I agree with @tellnes but believe promises are a bit too much for this library for many of the same reasons Ryan removed them in the Node v0.2 era. Many, if not most, of us just use `passwordHash` and `verifyHash` in a straight forward way. Personally, I prefer this library remain minimalist and leave the sugar to user-land; it's easy enough for users to promise-ify things themselves or create a l

[2015-06-12 00:03] barrysteyn commented on #72
Hi Guys

@BrandonZacharie Promises are not sugar, infact, without them, I would have the exact same reaction as TJ Holowaychuck did. I promise you (pun definitely intended), they make life a lot easier.

That being said, I don't intend to use a promise library, because I intend this to only work JavaScript engines that have implemented ES6. So promises would only work on IOjs until it gets merged

[2015-06-12 02:47] fresheneesz commented on #72
@barrysteyn rolling your own would be the wrong way to go - yeah. Given that node.js doesn't yet have ES6 promises, and lots of people still use versions of node that aren't the latest, I'd disagree with requiring ES6 for this. Like Brandon said, its easy enough to promise-ify your standard node errbacks.

Jumping the gun and requiring the newest version of node/IO.js, or worse, requiring people t

[2015-06-12 02:52] mikepb commented on #72
As a compromise, I would say write the default export `require("scrypt")` to use callbacks and `require("scrypt/promise")` to return promises.

[2015-06-12 02:54] barrysteyn commented on #72
Why can't we just detect if the feature is available. That was my plan all
along, I did not intend forcing a cutting edge version of scrypt on anyone
On Jun 11, 2015 7:52 PM, "Michael Phan-Ba" <notifications@github.com> wrote:

[2015-06-12 03:12] mikepb commented on #72
Would auto-detect and making `es6-promise` an optional dependency make people happy?

[code]

[2015-06-12 03:47] fresheneesz commented on #72
I'm fine with that, tho I don't see much of a reason for branching. What do we gain by using native promises over the es6-promise library? Negligible performance gains? Regardless, its not worth arguing about - that solution is perfectly fine as far as I'm concerned.

[2015-06-12 04:06] barrysteyn commented on #72
Es6 promises is where the language must go. With that in mind, this library
is intended for when all these polyfills are redundant. For my own
projects, I'm using iojs and promises are the only way I do async. I expect
the adoption rate to sky rocket,  specially when node has promises natively
which will be sooner rather than later.

Lastly, I want to promote promises and get people using iojs or

[2015-06-12 04:12] mikepb commented on #72
:+1:

[2015-06-12 10:12] alex94puchades commented on #72
@barrysteyn I'm perfectly fine with scrypt pushing on the Promises front. However, I think scrypt should be usable before ES6 comes along. Main reason being that this rewrite will be a REALLY needed interface improvement for scrypt, and we can't tie this very basic requirement with ES6, which is, in this case, purely cosmetic/moral. I mean, how complex can code using scrypt be? One callback?

I pr

[2015-06-12 12:32] barrysteyn commented on #72
Yes, this was my intention from the beginning. I believe the module is then
considered promise aware
On Jun 12, 2015 3:12 AM, "Alejandro Caravaca Puchades" <
notifications@github.com> wrote:

[2015-06-12 13:17] alex94puchades commented on #72
Clarified then, I thought you were for a promise-only interface. +1

[2015-06-12 13:18] barrysteyn commented on #72
I really need to do a better job explaining myself :)
On Jun 12, 2015 6:17 AM, "Alejandro Caravaca Puchades" <
notifications@github.com> wrote:

[2015-06-12 13:23] barrysteyn commented on #72
Also, even though the call back for scrypt is rather simple, the thing
about promises (besides the fact that you can do sane error handling) is
that they can be chained together. On it's own, scrypt would probably not
be too enhanced by making it accept promises. It's when there is a need for
it to be chained with other promises that this will be useful.

That being said, the module will be design

[2015-06-12 18:13] BrandonZacharie commented on #72
If I understand correctly, we will, for example, have 4 signatures for `scrypt.kdf`.

[code]

This looks fine by me. I would like to add that, with ES6 down the street, I don't see a need to force the issue with offering promises to those without native support; if they really want it, they will turn it on, switch to io.js, or upgrade in the near future.

[2015-06-13 09:46] tseemann commented on #2
How did you solve the "sys/sysinfo.h" bug on OS X ?

[2015-06-15 18:55] dodtsair opened #76 "Documentation error for hash format"
Hello,

The current documentation reads:

    bytes 16-47: 32 bits of random salt
    bytes 48-63: A 16 bit checksum
    bytes 64-95: A 32 bit HMAC of bytes 0 to 63 using a key produced by the scrypt key derivation function.

One side says `bytes 16-47`.  The other says `32 bits`.  There are 8 bits in a byte so that means 32 bits is 4 bytes.  However there are 32 bytes represented by bytes 16 - 47

[2015-06-16 13:40] tellnes commented on #72
I'll just want to add a reference to the statement / stance from io.js TC on exposing a Promises API [1].

https://github.com/nodejs/io.js/blob/dcf73cafddad745bc7833446ac9075f52dca194d/doc/tc-meetings/2014-12-10.md#statement--stance-from-tc-on-exposing-a-promises-api

I'm not opposed to adding a Promises API, but if it was my module I would have waited. My proposal is to  implement it, but documen

[2015-06-16 14:31] barrysteyn commented on #72
Hi Christian

Sorry, I seem to be failing at communicating for this module (happens when
you have full plate). It is my intention (for now) to label the promise as
experimental
On Jun 16, 2015 6:40 AM, "Christian Tellnes" <notifications@github.com>
wrote:

[2015-06-16 14:57] tellnes commented on #72
That sounds great. I could have mentioned it, but I have a full plate myself, so I could have missed it also.

[2015-06-27 11:00] barrysteyn commented on #72
Hi All

Apologies for missing the deadline. As a rule, I try to keep my personal life separate from professional/github life, but this time, I am gonna let it slip. You see, while I reside in North America, I am marrying a Spanish girl, and we are in Spain currently trying to organize the wedding for next year. If anyone thinks coding is tough, let me go no record and say that you have not tried o

[2015-07-15 13:17] knownasilya opened #78 "v3 is missing from npm"
Get the following error when `npm install`ing in a project that has a dep on `^3.0.1`.

[code]

`npm info scrypt` shows the 3.x versions..

[2015-07-15 13:46] knownasilya commented on #78
Ah, I was installing with io.js. After trying to do a direct install of the version, it said it wasn't compatible with the version of node/npm.

[2015-07-15 13:46] #78 closed

[2015-07-20 01:34] barrysteyn commented on #72
@ironwallaby @tellnes @fresheneesz @mikepb @alex94puchades

Version 5 has just been pushed to a branch appropriately called v5. It has everything except promises (that will come soon). Also, tests and documentation need to be finished. But it is in a workable state and I would like feedback from you guys. Please note that KDF does what Hash did in version 4 (and vice versa).

Okay guys, lets get s

[2015-07-20 13:38] alex94puchades opened #79 "V5 branch compile errors"
```npm install``` fails in Ubuntu with the following output:

npm WARN package.json scrypt@5.0.0 No license field.
-

make: Entering directory '/home/alex/node-scrypt/build'
  COPY ../scrypt/scrypt-1.1.6/config.h
  SOLINK_MODULE(target) Release/obj.target/copied_files.node
  COPY Release/copied_files.node
  CC(target) Release/obj.target/scrypt_wrapper/src/util/salt.o
  CC(target) Release/obj.targe

[2015-07-20 13:45] barrysteyn commented on #79
This has got nothing to do with npm license field. Instead, it seems that
persistent handle is not a pointer for you. This is strange, what version
of node are you using?
On Jul 20, 2015 6:38 AM, "Alejandro Caravaca Puchades" <
notifications@github.com> wrote:

Release/obj.target/scrypt_wrapper/src/scryptwrapper/keyderivation.o

Release/obj.target/scrypt_wrapper/src/scryptwrapper/pickparams.o

Rel

[2015-07-20 14:43] tellnes commented on #79
I've got similar errors:

[code]

I'm on io.js v2.3.3. @alex94puchades is using v0.12.6 according to npm's error output.

I know there has been some changes to v8::Persistent lately.

[2015-07-20 14:48] tellnes commented on #72
Just from the readme. I see that you have named the methods with first char as uppercase. That indicates that they are constructors and should be called like this:

[code]

[2015-07-20 15:38] barrysteyn commented on #72
Hi @tellnes

Just pushed an update to v5 branch. I have changed it to lower case for all function calls. Thanks for keeping me legit (as you probably guessed, I do not code in JavaScript every day). If you had compile issues, this new version should work.

[2015-07-20 15:39] barrysteyn commented on #79
Hi

Okay, I found the problem, and it has been corrected. I have just pushed an update to v5 branch, please can you guys get that and compile with that. Thanks for spotting this, I owe you guys.

[2015-07-20 15:39] #79 closed

[2015-07-20 16:57] tellnes commented on #72
I think the swapping of `kdf` and `hash` is going to create some confusion. That needs a big warning in the top of the readme with an explanation.

Also, the old `passwordHash` and `verifyHash` which now gets removed should get some documentation. Maybe something like this with the header `How to use this library for storing and verifying passwords`.

[code]

Btw, I really like that I don't need t

[2015-07-20 17:19] barrysteyn commented on #72
@tellnes

Regarding the swapping of kdf and hash, I mentioned this sometime ago. It was agreed that since this was a major version update, it could break previous versions and so it was okay (as long as it was documented). Regarding the documentation, it is hardly finished. That will happen at the very end (and I may ask for some help to move things quicker). I like your idea regarding a section o

[2015-07-22 15:16] barrysteyn commented on #72
Hi everyone

As of this morning, the module is now promise aware. If you guys could look at it and test it, I would be very grateful. The promises will work like so:

 1. If using an async function, and no callback is defined, then if promises are available, return a promise.
 2. If there is a callback present, then treat the function like a normal async with a callback, even if promises are avail

[2015-07-22 15:22] tellnes commented on #72
What about starting with a releasing a release candidate to npm?

[2015-07-22 16:02] barrysteyn commented on #72
@tellnes Is that wise? I would think releasing to npm means its a final product? Unless there is a way to tag it as a release candidate...

[2015-07-22 16:54] tellnes commented on #72
Yes, you can tag [the](https://docs.npmjs.com/cli/tag) release when you are [publishing](https://docs.npmjs.com/cli/publish).

I propose you call the first version `5.0.0-rc1` and tag it as `next`.

[2015-07-22 16:57] barrysteyn commented on #72
Thanks @tellnes. For this to happen, I have to at least just add a little bit to the documentation (or even better, try complete the documentation).

[2015-07-25 16:07] Martin-Luther opened #80 "passwordHash(key, opt, cb) not working on jailkit"
Hello, I'm using scrypt on a node.js project deployed on Debian Jessie, and if `verifyHash(...)` works perfectly, the hashing method `passwordHash` does not work at all.

Debian Jessie
Node 0.12.7

[2015-07-25 17:13] barrysteyn commented on #80
Hi Martin

Two questions:

 1. What version of Scrypt are you using?
 2. Can you please expand upon what you mean that passwordHash does not work at all.

Also, note that I am about to release the next version of Node-Scrypt, version 5.0. It is a major rewrite and its not backward compatible. But it addresses all the problems and complaints that have come up with version 4.x

[2015-07-25 17:23] Martin-Luther commented on #80
version 4.0.7 on Jessie
I am using  the same version on mac os x ... and the funny thing is that it works like a charm on mac ...
When are you releasing it (5.0) ?

[2015-07-25 17:25] barrysteyn commented on #80
Martin, please can you describe to me what you mean by it not working... Can you give me a screen dump and an example. Version 5.0's is in alpha right now. I will release it in about three weeks. But I don't think using version 5.0 will solve your problem. Again, I need more info if you want me to help you...

[2015-07-25 17:45] barrysteyn commented on #80
I am going to close this issue for now. @Martin-Luther please provide more info and I will reopen it.

[2015-07-25 17:45] Martin-Luther commented on #80
There is no error message, when passwordHash is called the task is never complete ... it goes to the void ...

[code]
I just get an unCaughtException .... and framework is designed to exit on fatal & un handled exceptions .... so the process is terminated in the and ... I usually get a specific message ... but here, none .. nada .. rien du tout ...

![screen shot 2015-07-25 at 7 42 16 pm](https://

[2015-07-25 17:51] barrysteyn commented on #80
Okay, there are a few things that could be wrong. I would need to know some specs of the machine, and also I would need to know what framework you are using. But let me guess: Does your Mac has better specs (more memory, better processor) than your Debian machine? I say this because my first guess is that the hash is created using Scrypt parameters that are too high for the machine. This means tha

[2015-07-25 18:01] Martin-Luther commented on #80
the app runs fine on a Macbook Air Late 2010 with 4GB RAM, and a Core2Duo ...
The linux is a Virtual Machine (cloud EC2 like) with 2 cores and 4GB RAM.
What script parameter should I use to eliminate or confirm your guessing ?
It is my own framework, built on top of express.... but it does not matter because I am only requiring Scrypt to perform the hashing... no other dependencies ...

[2015-07-25 18:03] barrysteyn commented on #80
Reduce the maxtime. I don't know what you have set it to, but for testing purposes, set it extremely low (much lower than what you have now). I think that would work and would then prove my guess. Your Linux VM on EC2 also adds to my belief - they are very well known for being throttled.

Try it and report back to me.

[2015-07-25 18:05] Martin-Luther commented on #80
maxtime is `0.1` ...

[2015-07-25 18:14] barrysteyn commented on #80
Okay, so make sure you are creating parameters (run scrypt.params) on the server, and set maxtime to 0.01, maxmem as 0 (it will default to 1 meg) and maxmemfrac as 0.1

[2015-07-25 18:23] Martin-Luther commented on #80
The same code run on my mac and on some windows remember :) ?

OK !! Nothing changed with the new settings ... I still get the same behavior ...

[2015-07-25 18:29] barrysteyn commented on #80
Then you must run the unit tests on  the server. SSH into your server, find the scrypt module (in node_modules), go to its folder and type `npm run test`

If there is something truly wrong, the tests will fail.

[2015-07-25 19:51] barrysteyn commented on #80
@Martin-Luther Please can you run the unit tests and tell me the result

[2015-07-25 19:55] Martin-Luther commented on #80
OK !!! I've got news ... good for you... bad for me ...
What I forgot to mention is that i'm running the app under a chrooted env (jailkit) ...
When I re install Scrypt using `root`, and start the app with the root user, it works fine .. like good old times !
When I switch back to the jailed user, for some reason that I don't really understand, passwordHash does not work... while verifyHash has no

[2015-07-26 15:17] #80 closed

[2015-07-26 15:34] barrysteyn commented on #80
I am closing this issue because it is a problem with setup, not with an inherent bug in the code. Please shout out to me over here and I will try help you as best as I can.

Node-gyp is just a build definition, identical to make but it is supposed to be much easier. It uses python to set things up. What it actually does is take input and spit out a makefile. Why do we need this for node-scrypt? Be

[2015-07-26 15:45] Martin-Luther commented on #80
My workaround worked for 2 other modules using C/C++  ... :(
But you are right, I have to get rid of the python error I get first.
Thanks again.

[2015-07-26 15:59] barrysteyn commented on #80
Those two other modules are perhaps not C/C++ addons. Perhaps they are pure node/iojs modules (don't use any C/C++).

Scrypt does link to Node's openssl library. If you are jailing something, then this would be the first suspect. But then verify would definitely not work (just like hash, it uses openssl heavily). So that cannot be the problem.

That leaves just one problem: It is the parameter fun

[2015-07-26 16:12] Martin-Luther commented on #80
It worked using root previously ... it is not CPU related ... But I'll try and get back to you in 5.

[2015-07-26 16:26] Martin-Luther commented on #80
OK ! Now you have to explain why the fuck this worked ! I'm lost here.
Knowing that when I changed the user, without doing anything, everything work fine `jailed -> root`...
Now back with my jailed user, and "my workaround" PLUS the fact that I applied your recommandation to put `{N:1, r:1, p:1}` instead of the `0.1`maxtime value, it is working ...
I don't think it is CPU related since it worked w

[2015-07-26 21:13] barrysteyn commented on #80
I agree it has nothing to do with CPU, I was just mentioning that as an aside. The parameter function is actually a translation function: It translates maxtime, maxmem and maxmemfrac (all supposedly human understandable) into the scrypt parameter object {N:?,r:?,p:?} (the question marks indicate and value).

To determine those values, it uses various shared libraries. Check out the `memtouse` and

[2015-07-27 06:48] Martin-Luther commented on #80
Thanks for your help (sincerely), I will look into it: it makes sense. It would be really nice if you did not need those shared libraries :(
The less dependencies you have the more easy it get to integrate/use Node Scrypt.

[2015-07-27 13:34] barrysteyn commented on #80
Well, actually, that translation function is not really part of Scrypt, as
you saw yourself, it works fine if you just pass it a scrypt params object.
It is there to make life easier. I don't think there is any other way to
make such functionality without referring to external libraries.
On Jul 26, 2015 11:48 PM, "Martin-Luther Etouman" <notifications@github.com>
wrote:

[2015-07-29 08:30] fresheneesz commented on #72
Sorry I haven't been able to give any feedback. I'm pretty busy right now. But good work with all this, and congratulations on your engagement!

I'll give my feedback when I have time to update this lib and try it out.

[2015-07-29 14:57] alex94puchades commented on #72
Same thing here, really busy working on a project (it uses scrypt btw). As
soon as I have a solid base I'll make a branch with the dev version of
scrypt. Thanks for your effort and keep going!

2015-07-29 10:30 GMT+02:00 fresheneesz <notifications@github.com>:

--
Álex Puchades

[2015-07-30 01:48] mikepb commented on #72
Ditto with being too busy. Thank you so much for your efforts!

Michael

[2015-07-30 02:53] barrysteyn commented on #72
Thanks guys. I know the love is there :)

For the next two weeks, I need to lie low due to an extreme deadline. Hoping to get everyone's feedback and continue after then...

[2015-08-09 07:02] polomsky opened #81 "kdf crash"
kdf method crashes Node for parameter r>16 when N=1

error: 0xC0000005
version: 4.0.7
platform: Windows 7 64bit

[2015-08-12 15:14] tresdin opened #82 "Can't install node-scrypt on iojs v3.0.0"
I've tried to install node scrypt on iojs v3.0.0 and it fails on `node-gyp rebuild` stage. Is there any work around for this issue?

[2015-08-12 15:22] barrysteyn commented on #82
Hi Lewis

v 3.0.0 is very new. I should be able to fix the problem - give me two or so days to look into it.

Thanks for brining this up.

[2015-08-12 15:28] barrysteyn commented on #82
Actually, just took a very quick look at this. The problem is the NAN abstraction layer. It needs to be updated by the makers of Iojs. They will definitely do this very soon (I am actually in contact with them, so I will ask them personally when it will be updated). Until then, there is not much I can do...

I will leave this issue open as a reminder for me to follow up with them.

[2015-08-12 15:52] tresdin commented on #82
Thanks for your information @barrysteyn . FYI, iojs team seems to underestimate the importance of *Beta* stage. :)

[2015-08-13 20:25] alex94puchades commented on #82
I'm getting node-gyp errors with node 0.12 also, maybe it is related?

[2015-08-20 15:14] basdag opened #83 "Installation Error - 3.0.1 & 4.0.7"
Hello (@barrysteyn),

I am trying to install `node-scrypt` but unfortunately I still getting errors. So, I have installed globally `node-gyp` and then I tried to run npm install and start getting this error:

[code]

Moreover I tried to run `node-gyp rebuild` and get similar error

[code]

I would appreciate any that could be provided. Thanks for your time and support.

[2015-08-20 19:16] basdag commented on #83
@barrysteyn issue was solved there were two `libtool` reference from different providers

[2015-08-20 19:17] #83 closed

[2015-08-21 15:09] barrysteyn commented on #72
Hi Everyone. Sorry for the month break, but something very hectic took up my time. I hope to do some work this weekend and have something releasable ready. Please comment with anything you would like changed...

[2015-08-26 16:10] barrysteyn commented on #72
Hi Guys. Quick update: I was about to release, when Nan version 2 came along. So I am updating the module to use this. Then I will finish the documentation. I hope to release on Sun. Comment welcome.

[2015-09-01 16:00] barrysteyn commented on #72
Quick update: I have finished converting things to use Nan 2.X, which will now allow latest versions of things like IOJS. Nan V 2.X allows one to easily update things, as it is now proper C++ class constructs instead of just macros. I have am also almost finished the tests. I will try get the tests finished sometime today. The only thing left is the documentation, and then release!

[2015-09-01 16:01] barrysteyn commented on #82
Hi - try clone branch V5, and see if things work. I have updated the module to use Nan V 2.x, and this should solve the issue. Please report back. FYI: Version 5 (the branch I am asking you to clone) will be released sometime this week or early next week.

[2015-09-01 16:02] barrysteyn commented on #81
This is probably because your machine cannot handle the parameters you are giving (I am guessing this).

[2015-09-01 16:02] #81 closed

[2015-09-01 16:04] barrysteyn commented on #76
Documentation is about to rewritten for a new version of the module. But thanks for bringing this to my attention, and apologies for taking so long to respond (I was extremely busy this last month).

[2015-09-01 16:04] #76 closed

[2015-09-01 16:05] barrysteyn commented on #74
This is corrected in version 5, which will be released either this week, or early next week. Thanks for bringing it up.

[2015-09-01 16:05] #74 closed

[2015-09-02 15:20] barrysteyn commented on #72
Update: Finished all tests - now to document, and then release. I would be very grateful if someone could go over the documentation once I have finished with it.

[2015-09-03 15:50] barrysteyn commented on #82
I am closing this issue as it should not still be causing problems.

[2015-09-03 15:50] #82 closed

[2015-09-03 15:59] barrysteyn commented on #72
Hi @ironwallaby @tellnes @fresheneesz @mikepb @alex94puchades

THIS IS A CALL TO ACTION. Guys, I am almost ready to release the new module. PLEASE can you look at it over. I have merged the work to the master branch. I need feedback on the documentation, and also on how things work. I have put a lot of effort into this, while still holding a full time job and having major personal things to do. So

[2015-09-03 17:37] mikepb commented on #72
Comments for the JS `index.js`:
- L30,93,94,260: `undefined` can be overridden in JS, including the global scope. It is better to use `callback_index != null` because it matches both `undefined` and `null`. If you must check for `undefined`, use `void(0)` instead as `void` is a keyword.
- L32: `return undefined;` is redundant; `return;` is sufficient to return `undefined`.
- L52: Arrays are object

[2015-09-03 17:40] barrysteyn commented on #72
Thank you so much for the feedback @mikepb, it's really appreciated

[2015-09-03 17:46] barrysteyn commented on #72
@mikepb, interesting about your comment on L97, the closures. Firstly, my reasoning for doing this: I hate state, and if I have to initialize it, I try do it once. If JavaScript had the C++ concept of const, I would use it in that variable. So I try setting things once and once only. Regarding the closure, I am sure that one can do it more efficiently, but how inefficient is this? Not too bad I th

[2015-09-03 17:51] mikepb commented on #72
It depends on the implementation. In one project I worked on a few years ago, we (ab)used the CoffeeScript `=>` and had twice as many closures as necessary. This caused browser performance to suffer significantly, especially in IE<9.

In any case, I often use a switch-case in cases like L97 because L104 _is_ the default behavior. It also happens to avoid creating state and instead embeds the "cons

[2015-09-03 18:15] fresheneesz commented on #72
Response to Mike:

* L30: How would you override undefined globally? If someone's doing that, I'd say its their own fault if modules fail because of it.
* L32`return undefined` is more explicit, i'd keep it as is
* L52: I might just omit the object check all together, as long as it has the necessary properties on it, it shouldn't matter if its an array or anything else
* L97: The closure is called

[2015-09-03 18:16] fresheneesz commented on #72
For my poin on the `kdf` docs: https://github.com/barrysteyn/node-scrypt/pull/84

[2015-09-03 18:16] fresheneesz commented on #72
But other than that, things look great! Thanks for doing this Barry!

[2015-09-03 18:32] mikepb commented on #72
Looks like overriding `undefined` globally is no longer an issue :smile:

It's true that V8 handles closures very well, just wanted to point out that when abused, closures can be a source of performance bugs.

It used to be an issue back in the day. I'm an old timer :stuck_out_tongue:

[2015-09-03 19:20] fresheneesz commented on #72
Gotcha ; ) Sounds like you're a pro at hand optimizing js

[2015-09-03 19:58] BrandonZacharie commented on #72
Looks great to me.

- `max_memfrac` should be `maxmemfrac` to match `maxtime`, `maxmem`, and the rest of the documentation.
- The [comments at the top of some files] (/barrysteyn/node-scrypt/blob/master/src/scryptwrapper/hash.c) link to [a doc](http://doctrina.org/Scrypt-Authentication-For-Node.html) that is out of date.
- There is no test coverage for Promises.
- [A link to the API section](https

[2015-09-04 00:57] barrysteyn commented on #72
Guys, thanks so much. I will start incorporating your suggestions. @BrandonZacharie, you caught me out: I was going to keep quiet about not testing the promises, and then release a 5.1 version with the tests covered. But I think I will just take the hit and include the tests. Thanks for keeping me honest.

[2015-09-04 04:23] BrandonZacharie commented on #72
You do that and I'll open a PR for the rest of the stuff I mentioned.

[2015-09-04 13:26] barrysteyn commented on #72
Hi @BrandonZacharie, thanks so much. One quick thing: I use max_memfrac because Colin Percival (the creator of scrypt) uses it like that. Everything else is great, but I want to leave max_memfrac (even though I agree with you) to follow Colin's notation.

[2015-09-05 07:28] BrandonZacharie commented on #72
If that's the case, I only ask that it be `max_memfrac` everywhere. Right now, it's sometimes called `maxmemfrac`.

[2015-09-08 20:28] thehydroimpulse opened #85 "Support Node v4.0.0"
I haven't really gone into the changes that break scrypt for the latest node version, but a few errors are triggered.

[2015-09-08 20:30] barrysteyn commented on #85
Please can you give more detail? Does it compile? Does it only report errors in the tests?

[2015-09-08 20:37] thehydroimpulse commented on #85
I just tried re-installing under v4.0.0 and and it fails to compile. Many errors are related to Nan and overall API breaking changes.

[code]

[2015-09-08 20:39] barrysteyn commented on #85
Okay, I will look into this. It could be the Nan has not caught up to Node V4.0 yet, in which case, there is nothing we can do but wait. Regarding the breaking API changes, well, that is why we are on a new version :)

[2015-09-08 20:56] barrysteyn commented on #85
Oh, wait a minute. Can you please try version 5?

[2015-09-08 21:40] thehydroimpulse commented on #85
@barrysteyn Sent your a PR based on version 5 to fix the issues.

[2015-09-09 10:46] Bx1 commented on #85
the same on 5.0

[2015-09-09 16:45] barrysteyn commented on #85
Ummm - I don't get this. Look on line 35, it states using Nan::Set

How can the compiler get confused by ambiguity? Can you output the compiler  message for me please?

[2015-09-09 17:12] thehydroimpulse commented on #85
@barrysteyn

Here's the compiler output:

[code]

It's ambiguous because you also have

[code]

which is also exporting a `Set` class.

[2015-09-09 17:19] barrysteyn commented on #85
Okay, this makes sense, it must be new in Node version 4. There is a way out of this ambiguity (as you have done) which is to explicitly refer to the namespace.

[2015-09-09 17:19] #85 closed

[2015-09-10 14:40] barrysteyn commented on #72
@BrandonZacharie I want to have the promise testing finished today. Could you get that PR going with the documentation changes? Then perhaps we can release?

[2015-09-10 16:25] barrysteyn commented on #72
okay, Promise testing has just been pushed. When Readme is updated, I will release this version to NPM

[2015-09-10 16:46] Demurgos commented on #72
Hi,
I wanted to experiment with [the new stable Node 4.0](https://nodejs.org/en/blog/release/v4.0.0/) but I wasn't able to compile `scrypt` (Windows 64 bit). Is support for this new version planned ?

[2015-09-10 16:49] barrysteyn commented on #72
Hi @Demurgos

Windows is always a bit of a problem. I will try to get something going for Windows, but it may take a bit of time.

[2015-09-10 22:25] BrandonZacharie commented on #72
@barrysteyn Sorry, I was caught in prod fires this past week. I'll have that PR no later than tomorrow.

[2015-09-11 00:25] barrysteyn commented on #72
Thanks @BrandonZacharie - yup, I know prod fires only too well :( As an industry, we really need to figure out how to minimize the stress for our engineers.

Anyways, please can you base your work off of what is currently in master. I needed to force push something (sorry), so you will need to get it again.

[2015-09-11 05:30] BrandonZacharie commented on #72
Will do

[2015-09-11 18:13] fresheneesz commented on #72
"minimize the stress for our engineers"

* Comprehensive automated testing
* Clear metrics that identify problems (so engineers aren't called for "potential problems")
* Some kind of training for executives so they are forced to have just a little understanding of an engineer's workflow

[2015-09-12 10:06] yossazou opened #87 "node-gyp rebuild error on linux EC2-instance"
Hi everybody,

I'm trying to install node-scrypt on linux EC2-instance but I'm getting a lot of errors. I hope someone can help me fix them.

Thank you !!

compilation terminated.
make: *** [Release/obj.target/scrypt/scrypt_node.o] Error 1
make: Leaving directory `/home/ec2-user/direct_v_1/node_modules/scrypt/build'
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR

[2015-09-13 18:46] barrysteyn commented on #87
Hi. Scrypt version 5 is being released sometime today. Use that version, it will work then.

[2015-09-13 18:46] #87 closed

[2015-09-13 18:47] barrysteyn commented on #72
@fresheneesz - I would definitely hire you. When I start the next Google/Amazon, you are going to be there ;)

[2015-09-13 19:45] barrysteyn commented on #72
Okay everyone, I am releasing version 5 on Npm. Hooray... I would like to thank (and give credit) to a few people, specially @fresheneesz @BrandonZacharie @ironwallaby  and @tellnes

Can you guys email me and tell me your names. I will assume you don't want to be credited if you don't make contact. But a BIG thank you to all. I will fix things up as they come along. @BrandonZacharie, I fixed the d

[2015-09-13 19:45] #72 closed

[2015-09-13 19:45] #73 closed

[2015-09-14 00:33] ngoctranfire opened #88 "npm install node-scrypt causes error"
Even with the node-gyp install globally, this is still causing me to get some issues. Please take a look at this!
npm ERR! Darwin 14.4.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "node-scrypt" "--save"
npm ERR! node v4.0.0
npm ERR! npm  v2.14.2
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn

npm ERR! node-scrypt@0.0.1 preinstall: `no

[2015-09-14 07:52] Michal--M commented on #88
Maybe not related, but on Win7 with MSVS 2015 I am getting this one:

gyp ERR! build error
gyp ERR! stack Error: `C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onExit (C:\iojs\node_modules\npm\node_modules\node-gyp\lib\build.js:269:23)
gyp ERR! stack     at emitTwo (events.js:87:13)
gyp ERR! stack     at ChildProcess.emit (events.j

[2015-09-14 18:28] barrysteyn commented on #88
@ngoctranfire I need more information. Unfortunately, it builds fine for me on Mac (and I used identical version of node and node-gyp to do this). As the error says, please include `npm install -g node-gyp`

[2015-09-14 18:28] barrysteyn commented on #88
@Michal--M - Windows is always going to be a pain. Do me a favour, can you alter the config file to define HAVE_STRUCT_TIMESPEC and see if it compiles.

[2015-09-15 02:41] ngoctranfire commented on #88
@barrysteyn ,
I don't know exactly what happened, but I just did it again and everything worked! Sorry for the issue >.>

[2015-09-17 06:30] mike-marcacci opened #89 "Fails to build in node v4.0.x"
Hey there! Just a quick heads-up that this library fails to build in NodeJS v4 on both mac and linux. Here's a quick dump of the error in case it's useful:

[code]

[2015-09-17 12:43] barrysteyn commented on #89
Hi Mike

Please use version 5.0 - I know why version 4 is breaking though. It is breaking because it is using the latest Nan in the package dependencies. If you make it use the latest of Nan version 1, it should work fine.

[2015-09-17 12:43] #89 closed

[2015-09-18 14:54] barrysteyn commented on #89
Mike, let me also just add: You are trying to use version 4.x of scrypt while using the latest cutting edge version of node. The problem is that node's api has changed so much, it required a complete rewrite of NaN (native abstraction for node). I use NaN for interacting with Node, it is the way you need to do things if you want to support node's fast moving api. Unfortunately, the whole module re

[2015-09-18 22:29] larron opened #90 "Build Error With Node 4.1.0"
Hey Barry,
I decided to give 4.1.0 a try and ran into some issues with what seems to be scrypt.
I was able to install node-gyp globally.
Here's what happens when I try to install scrypt into a local project:

[code]

On the flip side, I was able to clone and build scrypt manually and get it to work!
Thanks

[2015-09-18 22:38] barrysteyn commented on #90
It works for me:

[code]

I don't know what you have done incorrectly, but I suggest you remove your `node_modules` folder, and install it with npm (as in `npm install scrypt`)

[2015-09-18 22:38] #90 closed

[2015-09-21 14:25] nimish opened #91 "Migrating from v4 to v5"
Hi, trying to migrate from scrypt < 5 to 5. The previous code just uses the ancient passwordHash and friends.

What's the migration path? Are the parameters compatible? What are the new equivalents of passwordHash and verifyHash?

[2015-09-21 14:26] barrysteyn commented on #91
Read the documentation :)

[2015-09-21 14:26] #91 closed

[2015-09-21 18:09] jaredallard opened #92 "Won't build with Node 4.1.0"
[code]

Freshly installed with `npm install scrypt`

On Arch.

[2015-09-21 18:32] #92 closed

[2015-09-22 06:09] mike-marcacci commented on #89
Hey @barrysteyn! Thanks so much for the quick reply – I totally didn't realize I was running an out-of-date version of scrypt, and just upgraded without a hitch. I really appreciate the new sync/promise/callback API patterns. Cheers!

[2015-09-23 00:14] austint opened #94 "Converting Old Passwords"
Will updating to the latest version make old password hashes – stored on a database, let's say – unusable, i.e. would users need to generate new password kdfs with the newest version of Scrypt?

Trying to see if I can upgrade to the latest without losing the stored passwords.

Thanks!

[2015-09-23 00:17] barrysteyn commented on #94
Hi @austint

The answer to your question: Of course the stored password hashes are still valid. I have not changed the internal format for the hashes, I have just upgraded the module and made major changes to the module itself. So you can still use your old password hashes :)

[2015-09-23 00:17] #94 closed

[2015-09-23 00:21] austint commented on #94
Badass! Thanks for the extremely quick response :D

[2015-09-23 21:31] AVVS opened #95 "unsafe use of arguments"
1. https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#32-leaking-arguments

instead of passing reference of `arguments` to another function, we must make a copy before that.
Quote from there:

[code]

[2015-09-23 21:32] AVVS commented on #95
every function that uses `checkNumberOfArguments` and `checkAsyncArguments` is affected.

[2015-09-23 21:34] AVVS opened #96 "bluebird promises"
often people would use bluebird promises - imo its a good idea to use something like https://www.npmjs.com/package/native-or-bluebird in order to increase compatibility with older versions while allowing promise API to be used

[2015-09-23 22:37] barrysteyn commented on #95
Can you explain why this is needed please. I looked at the link you pointed to, but it does not explain what is wrong with referring to arguments.

[2015-09-23 22:43] AVVS commented on #95
code becomes unoptimizable, and reference is leaked between functions, basically v8 internals work in a way that you can not ever pass arguments anywhere else except for `func.apply(context, arguments)`. Probably if you want any more info than that you might want to lookup a few talks from nodeconfeu 2013/4 and/or ask author of bluebird for more insight - I'm limited in my knowledge on the guts of

[2015-09-23 22:47] barrysteyn commented on #95
Please can you point me to those talks. I would love to view them. I still don't really know why this is needed.

[2015-09-23 22:49] barrysteyn commented on #96
When we were discussing this library, a choice was made to use native promises. The problem being that importing a promise library would polute the global object (at least, this is what people more knowledgeable than myself said). So I am restricting this module to native promises by design. My thinking is if someone needs promises, then they should upgrade to a more recent version of node.

[2015-09-23 22:49] #96 closed

[2015-09-24 06:04] AVVS commented on #96
This is actually locally scoped package and those people that have the native implementation would still use it. There is also a possibility to add a try/catch block and require the module, which would accomplish the same with more code.

[2015-09-24 06:09] AVVS commented on #95
http://stackoverflow.com/questions/23509312/does-node-js-really-not-optimize-calls-to-slice-callarguments

This should explain it. Example is different to the problem in this code, but problem is the same

[2015-09-24 11:17] nimish commented on #91
Hi, I have read the documentation (Readme.md) and there's nothing in there about migrating from passwordHash to kdf while maintaining compatibility with existing output data.

For future reference, here's what works:

1) `verifyHash` and `verifyKdf` work identically since the struct generated by node-scrypt has all of the required parameters (N, p, r), as long as you parse the base64 output into a

[2015-09-24 12:50] barrysteyn commented on #91
I maintain this module on a voluntary basis as I have a full time job.
Answering requests like yours take time, but if you RTFM, you get the
answer (as you have just proven). Instead of making snide comments like
"Was that so hard", why don't you make a pull request with some additions
to the documentation.

[2015-09-24 14:49] barrysteyn commented on #95
Hi @AVVS

Thank you for pointing me to this documentation. It really is useful (and interesting). All in all, I am still not an expert in this subject, but the stackoverflow article you gave convinced me enough that it wouldn't really hurt.

The only problem is the code bloat. For this to work properly, one cannot add a method to extract the arguments in a prototype object. No, the only way it wil

[2015-09-24 14:55] AVVS commented on #95
1. It won't work, it leaks arguments by initializing the object and makes func non-optimizable, therefore killing the performance of this function (you don't really care unless you have thousands of users generating password, but if you do - this actually hurts you)

2. Yes, it's designed that way, but we don't want to block the loop for more than needed and we want to pass the control to an under

[2015-09-24 15:09] tellnes commented on #95
This should be easy solvable by just doing:

[code]

[2015-09-24 16:02] barrysteyn commented on #95
@tellnes, I suppose that would work, but it wouldn't be very [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)

[2015-09-24 16:05] barrysteyn commented on #95
@AVVS I will come up with a solution over the weekend (or if I have some time, maybe even today). When I do have a solution, can I please ask you to look at it?

[2015-09-24 16:05] AVVS commented on #95
@barrysteyn absolutely

[2015-09-24 20:48] psawaya opened #97 "Crash on empty buffer"
Hi all,

Thanks for the fantastic library. Just wanted to point out that I'm getting the crash on empty buffer (#70) with the new API.

[code]

[2015-09-25 01:26] dcousens opened #98 "Cannot build (failing posixconfig?)"
[code]

[code]

[2015-09-25 18:41] barrysteyn commented on #97
Yeah, that makes sense. Actually (embarrassingly), I knew about this. I will harden the code when I get round to it.

[2015-09-26 14:42] Demurgos commented on #88
Hi,
I currently have the same issue using VS2015. I'm just starting to learn C++ so I don't understand very well where to edit this config file. If I succeed in building it I'll let you know.

[code]

[2015-09-28 23:53] austint opened #99 "Buffers to Strings and Strings to Buffers"
Hey man!

So, we are using your packages in our app, which also uses Mongo, and we are running into some issues. I tried figuring it out from your docs, but not luck so far. Maybe you could shed some light on our problem.

I'm using the following to generate a new scrypt kdf:

[code]

The result of this method is a buffer, which – when sent to Mongo – gets stored as a BSON Object that looks like t

[2015-09-29 00:00] austint commented on #99
Seems like base64 encoding is working. Maybe add this to the docs in a more obvious spot? Thanks dude! :D

[2015-09-29 14:18] Michal--M commented on #88
Since I had not been able to include the directive HAVE_STRUCT_TIMESPEC in the project file, I performed the following nasty workaround: located the file %appdata%/npm-cache/scrypt/4.0.7/package.tgz/package.tar/package/scrypt/win/include/gettimeofday.h and deleted the timespec struct there.

[2015-09-29 15:03] barrysteyn commented on #98
Hi @dcousens

Thanks for making contact, and sorry for taking so long to reply. Okay, lets try tackle this solution. I am working on the next new version of scrypt (it won't be a change to the API) which will use scrypt version 1.2.0 which should really help matters like your situation.

For now, could you please go into the scrypt module folder (found in node_modules) and find the posixconfig she

[2015-09-29 15:07] barrysteyn commented on #99
I don't understand your request. Do you mean that maybe I should add in the documentation that the default encoding for binary strings is Base64?

[2015-09-29 15:13] barrysteyn commented on #88
You guys are now finding out my problems with Windows: This is inherently a library designed for posix systems. I am slowly working to make this library more compatible on windows. In my next major release, I will make it rock solid. In the mean time, we unfortunately need these types of work arounds.

[2015-09-29 15:24] Michal--M commented on #88
Honestly [node-gyp page](https://github.com/nodejs/node-gyp) clearly says that we should use MSVS 2013, not 2015. So it may in fact work just fine :)

[2015-09-30 00:42] austint commented on #99
Oh, no problem. Yeah, exactly that!

I was thinking it could be useful since kdf returns a buffer, and you can't tell that it has [A-Z, a-z, 0-9, and + /, which would indicate that it is Base64.

I saw that you converted a Buffer to a String using Base64 in one of the examples deeper in the docs, but it could save some people time – particular programmers who aren't as well versed in the different

[2015-09-30 09:16] deedw opened #100 "Changelog"
Thank you for your work on this great module

It would be really helpful if you were able to add a changelog file to the repo to assist with upgrade decisions.

[2015-09-30 15:49] nimish commented on #91
Hey man, you tell me to RTFM, and it's not in the manual!

I had to reverse engineer this based on comparing the parameters generated and using previous versions.

It's up to you to include this if you want. Someone google-ing for it will find it here. I personally don't think it's worth it since the particular functions were already deprecated in v4.

[2015-09-30 20:16] BrandonZacharie commented on #91
See section ["Migrating To Version 5"](https://github.com/barrysteyn/node-scrypt/blob/master/Readme.md#migrating-to-version-5) ([added 27 days ago](https://github.com/barrysteyn/node-scrypt/commit/c89c36e1f85675b1467e0b8cab13a316efd36334))

[2015-10-01 15:04] barrysteyn commented on #100
Hi @deedw

Thanks for the feedback. Yeah, I get you. Let me try defend myself (although this is not a good defence) by stating that I also lead an engineering team and work a solid 10 hours a day (sometimes more). So I struggle with time.

Now for a favour: If you know the project, could you possibly create a changelog for me. I will correct it if need be, and I promise I will keep it up to date f

[2015-10-01 15:47] desktoping opened #101 "Error on test cases"
hi, can somebody help me find my answer. i run the test but there are errors. why is it? here is the error log.

     Error: getrlimit or sysctl(hw.usermem) failed
      at Error (native)
      at Object.scrypt.paramsSync (index.js:253:23)

and also 8 more. how can this be solved? please respond. thanks.

[2015-10-01 15:54] barrysteyn commented on #101
What operating system are you using?

[2015-10-01 16:05] desktoping commented on #101
Mac OSX Yosemite

[2015-10-01 16:05] barrysteyn commented on #101
Gonna need more details. A screen dump or something.

[2015-10-01 16:12] desktoping commented on #101
i hope this will help.

[redensanchez@“M”:~]
% cd ~/dogcloud                                                             1 ↵
[redensanchez@“M”:~/dogcloud on LINK]
% npm test                                                                    ✹

Failed to load c++ bson extension, using pure JS version
!WARNING: no mongodb url provided.  Defaulting to mongodb://localhost/test

  1) "before all" hook

[2015-10-01 16:13] desktoping commented on #101
i hope this would help. though this is not from the test cases but on my actual project.

     Error: getrlimit or sysctl(hw.usermem) failed
      at Error (native)
      at Object.scrypt.paramsSync (node_modules/scrypt/index.js:253:23)
      at model.<anonymous> (app/models/schema/user.js:44:31)
      at VirtualType.applySetters (node_modules/mongoose/lib/virtualtype.js:94:25)
      at model.Docu

[2015-10-01 16:20] desktoping commented on #101
but if you like the test here it is :smile:

  Scrypt Node Module Tests
    Scrypt Params Function
      Synchronous functionality with incorrect arguments
        ✓ Will throw SyntexError exception if called without arguments
        ✓ Will throw a RangeError exception if maxtime argument is less than zero
        ✓ Will throw a TypeError exception if maxmem is not an integer
        ✓ Will throw

[2015-10-01 16:42] barrysteyn commented on #101
Hmmm, you are not able to get the memory available from the kernel. This is strange, and if I had to guess, would happen if you did not have the correct permissions. Even though you do not have to run this module as root, do me a favor and run it as sudo to see what happens. If it works, then come back here and I will discuss the ways forward. If not, then still come back here...

[2015-10-01 16:49] desktoping commented on #101
still the same.

[2015-10-01 18:16] nimish commented on #91
That doesn't cover passwordHash and verifyHash. Anyway, it's now documented here.

[2015-10-04 10:02] alemhnan opened #102 "Cryptography functionality"
In issue #22 you removed cryptographic functionality.

I understand that it's not in the roadmap and neither a priority, but do you have any plans to reintroduce that feature? Do you have any suggestion on how to implement that in my own code otherwise?

[2015-10-05 17:56] Demurgos opened #103 "Build on MSVS 2015"
Hi,
As mentioned in #88 , `node-gyp rebuild` fails when using Visual Studio 2015.
I know that node-gyp is intended to use with VS 2013 but more and more people will start using the new version of VS so it's better to track this issue and fix it.

It appears that the error is cause by the redefinition of `struct timespec` in `scrypt/win/include/gettimeofday.h`.

Here is the output for `node-gyp reb

[2015-10-05 18:28] barrysteyn commented on #103
Do the tests run okay? I remember when I made this functionality, as I don't have access to Windows, I used a machine with a VM.

If the tests run okay, then I will add some functionality to ensure that scrypt will work on windows.

Also (although this will take some time), I am slowly updating this module to use scrypt 1.2.0 and I will aim for much better windows support.

[2015-10-05 18:36] Demurgos commented on #103
I got 73 tests passing. (all of them)

It looks like an issue with the build step only. The system `timespec` is almost the same as the one in `gettimeofday.h`.
(`<time.h>` is at least included in `cpuperf.h`)

[2015-10-05 18:53] barrysteyn commented on #103
Okay, this is very helpful. I will make a fix sometime this week. Would you mind checking it?

[2015-10-05 19:18] Demurgos commented on #103
Sure ;)

[2015-10-05 21:23] barrysteyn commented on #103
Hi @Demurgos

Can I ask you try build the project at branch V5.3 - it should work for you out of the box. But the acid test is to get someone else with MS 2015 to also build it. If it works for them, then we can publish this.

[2015-10-06 07:33] fresheneesz commented on #96
Bluebird promises are great, better than native actually. But its easy enough to promisify scrypts methods, so no real need to quibble over what's used.

[2015-10-06 09:10] AVVS commented on #96
I was merely suggesting doing the bluebird/native approach where both would work based on which one is present on the system without the extra dependency :)

[2015-10-06 15:09] barrysteyn commented on #96
I haven't looked at bluebird, so I can't state whether it is better than native promises, but I trust @fresheneesz, so if he says it's better, it is better :)

That being said, bluebird may be the new hotness, but in the JavaScript world, this lasts for about a month or so. What about when the next amazing promise implementation comes along? The only way I can keep some sanity for myself is to imp

[2015-10-06 15:14] AVVS commented on #96
well, bluebird itself is around for a couple of years now, so thats not the new hotness as one might say. Sure we can do a wrapper method, its not hard, just extra lines of useless code, whereas only thing to actually make it work is this. Furthermore it doesn't really include the bluebird, unless it's already installed. Maybe I'm annoying, but imho simplicity of use without any sacrifices is some

[2015-10-06 15:22] barrysteyn commented on #96
Vitaly, thank you very much for bringing this up. I really appreciate your efforts for trying to make this module better. Trust me, you are not annoying.

I am a lead engineer at a very large software company, and one of the biggest problems I face daily is legacy code. Admittedly, the documentation is not there, but even if there was documentation, it does not always capture the reasons why the d

[2015-10-06 15:23] barrysteyn commented on #103
@Demurgos Ping! Did it work?

[2015-10-06 15:24] barrysteyn commented on #88
@Michal--M Please can you clone and build branch V5.3 - I think I may have fixed your problem with the help of @Demurgos. Please tell me if it is working now.

[2015-10-06 15:24] #88 closed

[2015-10-06 17:09] Demurgos commented on #103
Hi
I just pulled `V5.3` and it worked fine. All tests passed.
This week-end I'll have access to an other computer with VS 2015 but it has a similar setup as the one I'm currently working with so I'm not sure if it will really help.
Did you try with VS 2013 with your Virtual Machine ?

[2015-10-06 17:45] barrysteyn commented on #103
To tell you the truth, I don't have that VM anymore. But if it worked for you, then it should work on VS2013. What I am doing is using a macro expression to test if the version is less than VS 2015. If it is, then I define `timespec`, if not (as in your case), I leave it undefined.

Do you have VS 2013 and are you able to test it for me? If not, then I am going to release it. I am sure I will get

[2015-10-06 19:52] Demurgos commented on #103
Sorry, I no longer have VS2013.
I got a student license for VS2015 recently so I uninstalled VS2013.
If you want, I could reinstall it but it would be in 3-4 days.

[2015-10-06 20:31] barrysteyn commented on #103
Thanks, but that is not necessary. I am going to release this to the public, let's see what happens...

[2015-10-06 20:43] barrysteyn commented on #103
Okay, with the release of 5.2.0, this issue should be solved.

[2015-10-06 20:43] #103 closed

[2015-10-06 20:44] barrysteyn commented on #102
Hi

What I was thinking was making two modules, the crypto module would depend on this one. The thing is, I think lots of people lost interest. You are the first person who has asked me about it.

What are you thinking of using it for and why?

[2015-10-06 20:44] #100 closed

[2015-10-06 22:23] fresheneesz commented on #72
Just wanted to say, i'm using scrypt 5.1.1  now and it works without a hitch (on node 2.5.0 - still got some straggling modules holding me back from 4)! Thanks for doing a great job on it! I'm also using the paramsSync method, cause that ended up being useful for loading once at the start of a module - so after opposing it, i'm glad you kept it in there.

[2015-10-06 22:25] barrysteyn commented on #72
@fresheneesz Only a pleasure :) I sent you an email this morning btw...

[2015-10-06 22:50] santbob commented on #101
@barrysteyn my test fails too locally, but it succeeds in jenkins. i m using Mac OS Yosemite too

[2015-10-07 10:18] alemhnan commented on #102
Hi @barrysteyn,

The general use case is of course to encrypt/decrypt text with a master password. In my specific case  I am developing a personalizable web interface for mongodb. I want the end user to store the database connection strings in my system and I would like to save them encrypted using a password provided by the user.

Without this feature in node-scrypt I will have to use the standar

[2015-10-07 13:34] Michal--M commented on #88
Confirming that 5.2.0 builds fine with MSVS 2015 (just two minor warnings)
[code]

[2015-10-07 18:04] barrysteyn commented on #88
Yeah, those warnings are not really a problem because I don't expect it to be anything more than a 32 bit integer. Still, I will get round to fixing them some day, but it won't affect the security in anyway.

[2015-10-08 04:02] dcousens commented on #98
Easier said then done, I can't install it to do that.   I cloned the repo and ran the below:

[code]

[2015-10-08 08:36] deedw commented on #100
I've used template from http://keepachangelog.com/ to populate a starter CHANGELOG for you.

https://gist.github.com/deedw/b3217f928ceaddd9aa41

[2015-10-08 16:06] barrysteyn commented on #100
Excellent @deedw - Thank you. I will add it into my next build, and I will keep it up to date. Many thanks

[2015-10-08 16:17] barrysteyn commented on #100
@deedw Just to show I am serious, I have updated this to 5.3, with the changelog as the reason for the update.

[2015-10-08 17:29] barrysteyn commented on #98
And that is what is supposed to have happened. BTW: You don't need it to be successfully installed to run that command - It will download in your node_modules folder.

Okay, what was the return code. So once you have run that command, immediately type `echo $?` and tell me what number get's returned. It should be the VERY next thing you type after `./scrypt/configuration/posixconfig`

[2015-10-08 20:51] KrisSiegel commented on #99
This is the same issue we ran into with upgrading. Previously we'd generate the hash and store in a database as a string. When we upgraded now everything is a buffer so we needed to convert that to a string and then be able to bring the string back in from the database to let it compare. Version 4 was far easier to use. Oddly enough every time I call kdfSync() I get a different result with the sam

[2015-10-08 22:02] barrysteyn commented on #99
@KrisSiegel: It is a buffer, so you can transcode it to any string type you want. Choose Base64 (I will document better very soon) As to getting a different string output every time you run the function, if you did not get a different string, then this module would be incredibly insecure. Please read the FAQ section, all the answers are there. And don't worry, it is by design that the output chang

[2015-10-08 22:08] barrysteyn commented on #99
@austint

Now that I have read your issue again, I realize that this is not a fault with any documentation per se. I never encode anything in the buffer, so things should work, whatever encoding you choose.

However, if you look at the snippet you sent me, I see that mongo is storing it as a binary. Unless you transcode in base64, you will not get the correct string out of it (read https://en.wiki

[2015-10-08 22:08] #99 closed

[2015-10-08 23:16] dcousens commented on #98
If `npm install scrypt` fails for me (as it does), then it does not remain in my `node_modules` folder.

[code]

[2015-10-08 23:22] barrysteyn commented on #98
@dcousens This is a node-gyp problem. Please make sure you have the latest version, but even if you do have it, it may just not run nicely with your version of Linux (arch Linux).

I am going to close this issue because all the evidence points to either a faulty node install, a faulty node-gyp install or node-gyp not being able to run on arch linux. It could also be a python problem (gyp uses pyth

[2015-10-08 23:26] dcousens commented on #98
@barrysteyn this also fails on my OSX and Ubuntu servers,  but OK.

[2015-10-08 23:28] barrysteyn commented on #98
Daniel, I can promise you that many people have this working on those
platforms. What version of Python are you using? I don't mind helping you
if you can prove to me that this is a genuine fault in the module. As of
now, I'm not convinced of that
On Oct 8, 2015 4:26 PM, "Daniel Cousens" <notifications@github.com> wrote:

[2015-10-08 23:30] dcousens commented on #98
@barrysteyn well I'm accounting for 3 different developers in this situation,  on Ubuntu, Arch and OSX (2 different OSX machines actually).
This package works great if you don't use `node 4` or `npm 3`,  if I do use that,  I get the above.

[2015-10-08 23:34] barrysteyn commented on #98
Okay, that is vital information you withheld. Node version 4 or npm 3. I
can definitely say it works for node version 4, but let me test npm 3 and
I'll get back to you
On Oct 8, 2015 4:30 PM, "Daniel Cousens" <notifications@github.com> wrote:

[2015-10-08 23:35] dcousens commented on #98
@barrysteyn that information was literally all I posted in the OP.

[2015-10-08 23:39] barrysteyn commented on #98
Yes, I see that now. I'll tell what I find
On Oct 8, 2015 4:35 PM, "Daniel Cousens" <notifications@github.com> wrote:

[2015-10-09 01:00] barrysteyn commented on #102
Okay, I understand the functionality. It is not too difficult to put it back in, the problem is the time. I will put it on the roadmap, but if I have to be honest, it wouldn't be anytime this year that I will get around to implementing it.

[2015-10-09 02:09] barrysteyn commented on #98
I confirm, everything is working for me. I am using node version 4.1.0 and npm version 3.3.6

Honestly, I still think it is your node-gyp setup.

[2015-10-09 02:46] dcousens commented on #98
@barrysteyn any hints as to what I can look for?
I haven't exactly modified the node-gyp setup on any of these machines.
Is there any explicit dependencies required other than `g++`?

[2015-10-09 03:28] KrisSiegel commented on #99
@barrysteyn yeah you're right I was confused by the different behavior and took it to mean version 4 generated the same result every time which is obviously wrong.

What tripped me up was when attempting to run verifyKdf and passing in the base64 encoded string from the database while comparing it to the current user's input. The solution was taking the string stored from the database and creating

[2015-10-09 04:40] barrysteyn commented on #99
Many people have asked for examples like you asked for, but this is
actually the function of a buffer. I don't feel it is the job of this
module to demonstrate things that are part of Node's API.

I am however thinking of starting a wiki where we can all combine our
knowledge about things such as this. What do you think? Would you add your
examples to the wiki?
On Oct 8, 2015 8:28 PM, "Kris Siegel

[2015-10-09 05:01] KrisSiegel commented on #99
Sure I understand, using a Buffer is part of the node API and you don't want to have APIs from other, outside components in your documentation. But as a module author, if you wish for the best adoption / experience of your module by others, then I am of the opinion that you can't take the pure "only my APIs" road.

I would argue that the best modules have full end-to-end examples right in their do

[2015-10-09 15:11] barrysteyn commented on #99
My thinking is opposite. I find that when I adopt a module, I want my README to be as concise and to the point as possible. However, I do get lots of requests. What I may do is add to the examples for how to store a buffer in binary, and then bring it back to the original string.

Regarding people adopting the module, I don't think inadequate documentation will make them use something else. Specia

[2015-10-09 15:19] barrysteyn commented on #98
Hi @dcousens

Okay, this is what I would do. Firstly, your error seems to be node-gyp related. I say this because it is complaining of something exiting with an error code of 0. But 0 is universally understood to designate that everything is okay. That is the reason I had you run the script manually and then `echo $?` - I wanted to see if it was returning `0`, and as you have proved, it was.

Back

[2015-10-09 20:48] barrysteyn commented on #97
Fixed in daed9929a2b87cc71463c20cec641172d39734e3

[2015-10-09 20:48] #97 closed

[2015-10-09 21:43] barrysteyn commented on #102
I am going to close this issue - but I will reopen it if I decide to do the crypto functionality.

[2015-10-09 21:43] #102 closed

[2015-10-10 17:45] barrysteyn commented on #98
Any update?

[2015-10-11 00:15] dcousens commented on #98
The issue seems to be project dependent.
I have no issue installing it standalone.

Will report back when I figure it out.

[2015-10-11 00:20] barrysteyn commented on #98
Okay, thanks for telling me. Please report back to me once you find out.
For my money, I would still investigate node-gyp. If you are using nvm,
perhaps it is setting the Python path to version 3 of Python.
On Oct 10, 2015 5:15 PM, "Daniel Cousens" <notifications@github.com> wrote:

[2015-10-11 00:26] dcousens commented on #98
I alias `npm="npm --python=/usr/bin/python2.7"`,  so unless its somehow breaking the environment,  that shouldn't be the case.

[2015-10-11 00:29] barrysteyn commented on #98
Okay, but does doing that ensure Python 2.7 will be used with node gyp.
There is any easy way to find out: node gyp will normally output to screen
what Python you it is using
On Oct 10, 2015 5:26 PM, "Daniel Cousens" <notifications@github.com> wrote:

[2015-10-11 00:34] dcousens commented on #98
@barrysteyn `node-gyp` more or less out right breaks if I don't alias it,  and this has been fine for 100's of other dependencies I've had in the past.

[2015-10-12 16:26] g-p-g opened #105 "README doesn't mention that scrypt.hash requires a salt parameter"
The README seems to be out of date as it describes only 3 required parameters, while 4 are needed.

[2015-10-12 18:16] barrysteyn commented on #105
Thanks for bringing this up. It is not that the README is out of date, the problem is that when I updated the module, I forgot to update the salt requirement for the hash. Will ameliorate now. Thanks.

[2015-10-12 18:32] barrysteyn commented on #105
fixed in a1b8b52414feee13a3c2e080c201de792efe06a6

[2015-10-12 18:32] #105 closed

[2015-10-12 22:45] g-p-g commented on #105
Thanks for fixing, but mentioning that the salt can be empty is too vague. Does that mean the function will generate a salt and return it, or just that an empty salt will be used? To follow the same style as the other params you could just leave out that last part.

[2015-10-13 19:36] IrishAdo opened #106 "got an error running 'npm install scrypt' here's the output"
npm install scrypt
npm WARN package.json test-app@ No description
npm WARN package.json test-app@ No repository field.
npm WARN package.json test-app@ No README data
npm WARN package.json test-app@ No license field.

 COPY ../scrypt/scrypt-1.1.6/config.h
 SOLINK_MODULE(target) Release/copied_files.node
 CC(target) Release/obj.target/scrypt_wrapper/src/util/salt.o
 CC(target) Release/obj.target/scr

[2015-10-13 19:41] IrishAdo commented on #106
FYI newly installed machine with node and mongodb freshly installed when I run the nodemon tool i get the following

13 Oct 20:25:54 - [nodemon] 1.7.1
13 Oct 20:25:54 - [nodemon] to restart at any time, enter `rs`
13 Oct 20:25:54 - [nodemon] watching: *.*
13 Oct 20:25:54 - [nodemon] starting `node server.js`
module.js:460
  return process.dlopen(module, path._makeLong(filename));

[2015-10-13 19:47] IrishAdo commented on #106
Ok update the package.json file to reference 5.4.1 and it worked ( of course I now have to migrate my code there is not much thank god )

[2015-10-13 19:47] #106 closed

[2015-10-13 20:57] IrishAdo opened #107 "Documentation needs updating"
OK so I've upgrade to the latest and greatest version and was changing my code everything went well until I tried to verify the user account.

So I store the kdf hash as hex converting with .toString('hex') as per the instructions and I store that in by db.  I could not understand why the verify code would not work until I console logged some values out.

Example of code for verifying a password t

[2015-10-13 21:07] barrysteyn commented on #107
Hi. What do you mean "I could not understand why the verify would not work"? Please can you give an example of how you thought it should work.

[2015-10-14 15:08] #107 closed

[2015-10-14 17:17] IrishAdo commented on #107
Because I had converted the hash to hex. So I ended up with a string that represented a hex version of the hash. The I was asking the verifying function to verify the encoded string and not the decoded string.   ie "ado" is encoded to hex as "656879". I needed to convert it back to the unencoded string "ado".

I converted that in my head so it might be wrong:-)

[2015-10-14 18:40] barrysteyn commented on #107
I understand where you are coming from. I think that perhaps a general section on how to work with Buffers is needed (infact, I always get the same question). But the examples given in the README are accurate and correct.

[2015-10-14 20:06] IrishAdo commented on #107
I don't disagree with you the examples are correct but in a live environment you would hash the password and store it somewhere first. Then on a different script you would compare that stored value.

You could put a comment that the kfdresult is a buffer so if you convert it to a normal string for storage you will need to convert it back to a buffer

Either way thought I would raise the issue as a

[2015-10-15 20:32] drags commented on #101
Seeing a similar issue with 2 out of 12 developers (all using Yosemite).

Getting this error:
[code]

From this code:
[code]

One of those users tried `npm test` on the current master and got:

[code]

[2015-10-15 20:38] barrysteyn commented on #101
Yes, I know about this. It seems that system call scrypt is not liked by some Macs. This is strange because most Macs like it. But nevertheless, the way forward will be to use scrypt 1.2.0. I am starting to (slowly) work on this. It will be a huge change - nothing will change for the underlying user (identical API etc) but a new version of scrypt under the hood. Do note that the current version (1

[2015-10-15 21:34] austint commented on #99
@barrysteyn that's true. Your call on it, obviously. I figured it out eventually, and maybe this thread will be enough for anyone who runs into the same problem. Thanks again for getting back to me!

[2015-10-20 04:15] zhuangya commented on #99
LIFE SAVING THREAD!!!!

[2015-10-21 08:14] gavinhungry commented on #98
I'm having this problem as well, running Arch Linux 4.2.3, Node 4.2.1, npm 3.3.8 and node-gyp 3.0.3.

If included in your project, the [`touch`](https://www.npmjs.com/package/touch) library [adds a bin entry](https://github.com/isaacs/node-touch/blob/v1.0.0/package.json#L11), which apparently node-gyp respects, and then royally screws up `scrypt/configuration/posixconfig`, which of course is looki

[2015-10-21 12:04] dcousens commented on #98
ACK,  that seems to be the problematic dependency.

[2015-10-22 16:12] barrysteyn commented on #98
@gavinhungry @dcousens Wow, that is interesting. Can you guys please specify in detail what is happening. I am working hard on the next major version of this module which will use version 1.2.0 of scrypt. It should fix lots of issues, but I will also need to run a config script again. If possible, I want to avoid what is happening here.

[2015-10-22 20:18] gavinhungry commented on #98
@barrysteyn,

If you install the `touch` library alongside `scrypt`, `touch` adds a bin entry, which then overrides GNU touch (which is being used by `scrypt/configuration/posix_configuration/configure`, so when you try and touch a file, you're actually using the `touch` library). For whatever reason, `touch` [logs out some information](https://github.com/isaacs/node-touch/blob/master/bin/touch.js

[2015-10-30 21:35] mietek commented on #95
Why are you trying to optimise a wrapper around a key derivation function that was explicitly [designed to be slow](http://www.tarsnap.com/scrypt.html)?

[2015-10-30 21:41] barrysteyn commented on #95
Lets assume I don't optimize, then someone can make another library that
does optimize. Now people who use the optimized library have an advantage
over people who use the unoptimized library. The fact is that the core of
the function is slow, but everything else should be efficient.

Barry Steyn Blog <http://doctrina.org> LinkedIn
<http://ca.linkedin.com/in/barrysteyn> GitHub
<https://github.com/b

[2015-11-12 08:48] IrishAdo commented on #101
How do I revert back to the 1.1.6 version as I'm using v5.4.1

[2015-11-12 22:27] barrysteyn commented on #101
Rather give me a week. I am going to be introducing version 6. It will use scrypt 1.2.0. More importantly, there will be nothing system specific (not even openssl). It has been designed to work on all platforms...

[2015-11-13 06:56] vwal opened #108 "Installs but no "Release" folder"
Hi @barrysteyn,

Some trouble getting scrypt working. First, system info..

[code]

(also tried node 4.2.2, 5.0.0, and 0.12.7)

First installing scrypt from npm..

[code]

Then..

[code]

The Release folder is missing, so trying to compile..

[code]

BOOM! :-( .. Wonder what goes wrong? Let me know if I can be of assistance debugging this.

Thanks!

[2015-11-13 15:33] barrysteyn commented on #108
Looking (admittedly very quickly) at your output, it seems like you do not have a C++ compiler installed on your host: `../../nan/nan.h:41:3: error: #error This version of node/NAN/v8 requires a C++11 compiler`

You need one! This module is a c addon to the scrypt c library. I have not dived too deeply into your problem, but all I can say is that this module has been installed and used thousands o

[2015-11-13 17:38] vwal commented on #108
I have `build-essential` package installed, and so gcc is at 4.6.3, which is the latest version available for Ubuntu 12.04.5. There is 4.7 metapackage available but it's base only (no executable).

[code]

According to the notes to [this question in Stackoverflow](http://stackoverflow.com/a/8403820/134536), `-std=c++11` flag to gcc 4.6 should do the trick. Would you be able to add it?

[2015-11-14 04:20] vwal commented on #108
I figured it out! It was indeed gcc version. I tried to install bcrypt, got the same error, then after some googling came across [this thread](https://github.com/nodejs/nan/issues/448) where g++ 4.8 was suggested (and [this gist](https://gist.github.com/omnus/6404505) that helped with its install). Now both scrypt and bcrypt build fine. You can close this thread. Maybe this will help someone else

[2015-11-14 09:07] vwal opened #109 "scrypt params question"
Could you briefly and simply explain (or point to an explanation of) the scrypt params object, e.g.

`{'N':1048576,'r':8,'p':1}`

The `paramsSync` method creates this object, but since it is often also given directly in the examples, and since the example values seem to be difficult to derive from the values given to `params` or `paramsSync`, I'd like to know what the values signify directly. Perh

[2015-11-14 13:20] simontabor commented on #109
@vwal This StackOverflow question might help https://stackoverflow.com/questions/11126315/what-are-optimal-scrypt-work-factors :)

[2015-11-14 19:08] vwal commented on #109
@simontabor Oh, that's perfect!! Thank you for pointing that out; I didn't think of searching SO for it!

@barrysteyn Maybe add this link to node-scrypt docs? :-)

[2015-11-14 19:08] #109 closed

[2015-11-14 19:39] #108 closed

[2015-11-15 15:43] barrysteyn commented on #108
Hi

What (I think) the problem is: Your old version of gcc did not default to c++ 11, you needed to pass it std=c++11.

Do you still have the old setup with that old version of gcc? If so, I would love to test this: We could just pass it -std=c++11 all the time, and see if it compiles.

[2015-11-15 19:45] vwal commented on #108
Hi Barry,

I upgraded my dev VMs, but the local dev server has not been upgraded, and I just confirmed it's still exhibiting the same symptoms, i.e.:

`../node_modules/nan/nan.h:41:3: error: #error This version of node/NAN/v8 requires a C++11 compiler`

Currently the versions on that server are as follows:

[code]

[code]

[code]

[code]

[2015-11-15 19:47] barrysteyn commented on #108
Excellent. If I created a branch (I will use your username), would you mind testing it for me? You are going to be testing the latest version (version 6) which simplifies a lot of things.

I'll wait for your answer

[2015-11-15 19:48] vwal commented on #108
Yes, I'd be glad to test it! Let me know once the branch is ready, and I'll give it a go.

[2015-11-15 19:49] barrysteyn commented on #108
Okay, give me about thirty minutes

[2015-11-15 20:26] barrysteyn commented on #108
Hi @vwal - can  clone the branch that is named after your username, and type `npm install` in the cloned folder. This new binding.gyp is setting `-std=c++11`. Then if you could run `npm test`, I would really appreciate it.

Thanks, looking forward to hearing back from you.

[2015-11-15 20:38] vwal commented on #108
Not quite working yet (here I was using node 4.2.2 as it's the LTS version)..

[code]

[2015-11-15 20:48] barrysteyn commented on #108
That's because the preinstall script was not run, which is strange. Let me dig into your output and try to see why...

[2015-11-15 20:49] barrysteyn commented on #108
Do me a favour: Can you go to the project folder, and manually type `node node-scrypt-preinstall.js` and tell me what happens. The fault is there.

[2015-11-15 21:07] vwal commented on #108
`node node-scrypt-preinstall.js` works without problems (no output).

To confirm, I did:

[code]

That completes without any problems. But it won't build:

[code]

It seems it doesn't like the `-std=c++11` switch.

See [this SO thread](http://stackoverflow.com/questions/12377358/unrecognized-command-line-option-std-c11-c-in-netbeans-7-2) .. it seems c++ <4.7 don't support that switch. You may just

[2015-11-15 21:15] barrysteyn commented on #108
Wow - okay, many thanks. This is good stuff. I really appreciate your input.

[2015-11-15 21:44] barrysteyn commented on #108
Also, the preinstall script was not being called. Even though you were able to call it successfully when you did it manually, it did not work when you typed `npm install`.

I will have to look into that.

[2015-11-15 21:51] vwal commented on #108
Let me know if you need another test run; I my dev server in its current condition for now. Even though it may be that c++ 4.7 will be required at minimum (so that would be a documentation change primarily).

[2015-11-15 22:17] barrysteyn commented on #108
Thanks - I will most certainly make contact with you during the week for another test. Thanks so much.

[2015-11-16 00:24] barrysteyn commented on #98
@gavinhungry and @dcousens : Please can you do me a favour and clone v6, npm install, and then npm test and tell me if things are good.

Version 6 is going to seriously help fix things like you guys have experienced.

[2015-11-16 00:25] barrysteyn commented on #101
@IrishAdo @desktoping : Please can you do me a favour and clone v6, npm install, and then npm test and tell me if things are good.

Version 6 is going to seriously help fix things like you guys have experienced.

[2015-11-16 00:26] barrysteyn commented on #103
@Demurgos : Please can you do me a favour and clone v6, npm install, and then npm test and tell me if things are good.

Version 6 is going to seriously help fix things like you guys have experienced.

[2015-11-16 00:28] barrysteyn commented on #72
@fresheneesz @ironwallaby @BrandonZacharie @tellnes

Please can you guys do me a favour: Clone v6 branch, npm install and npm test. Yup, version 6. It is using scrypt 1.2.0 (the latest version - Colin released it only a few weeks ago) and it also solves loads of issues (for instance, I am using all node's crypto stuff instead of external opensll - makes things much easier).

Would really appreciat

[2015-11-16 19:01] Demurgos commented on #103
Hi,
I just checked out `v6`. `npm install` and `npm test` both work fine.

Good job.

[2015-11-16 19:10] barrysteyn commented on #103
Excellent. This is really awesome: There is no need for this version to install OpenSSL for windows. So it should help windows users in a big way.

[2015-11-17 06:29] iamlothian commented on #99
Was hoping this was my answer, but alas i am still searching. Can anyone tell me what's going wrong here?

Lets take make a new account with a password
[code]
_don't be sacred of the `yield` keyword it works_

here is my mongo record with the password encrypted as a base64 string
[code]

Then later I pull the password has back out
[code]
To which I am greeted:
[code]

[2015-11-17 06:36] zhuangya commented on #99
I think you need to base64decode before you pass the hashed result to
verifyKdf

2015年11月17日星期二，matt <notifications@github.com> 写道：

[2015-11-17 06:39] KrisSiegel commented on #99
verifyKdf needs a buffer for your hash and a buffer for your input. Essentially:

[code]

[2015-11-17 06:46] iamlothian commented on #99
Yeah sorry man, every thing here was right. I had the arguments of `verifyPassword` around the wrong way [face palm]. Thanks for the quick response anyway :)

[2015-11-19 03:29] BrandonZacharie commented on #72
No luck here :(
![screen shot 2015-11-18 at 7 28 11 pm](https://cloud.githubusercontent.com/assets/27306/11261563/95941940-8e2a-11e5-9a65-c8887b9daf0e.png)

[2015-11-19 08:42] fresheneesz commented on #72
Couldn't install on windows 8 with node v5.1.0 and npm 3.0.3:

[code]

[2015-12-01 21:08] gavinhungry commented on #98
@barrysteyn,

Your v6 module installs fine, even if I install the touch module beforehand. All tests seem to pass as well.

[code]

But, I'm having a problem installing v6 with `npm install`:
[code]
NPM seems to not want to clone the `scrypt/scrypt-1.2.0` directory! It does clone `scrypt/scrypt-1.1.6` if I try to `npm install [...]#v5`. Not sure what's going on there. I'm using NPM version 3.5.0.

[2015-12-08 00:20] barrysteyn commented on #98
Okay, thanks Gavin. I will look into it (I finally have some time)

[2015-12-08 01:31] barrysteyn commented on #72
@fresheneesz Please can you try again on windows. I have updated things and I think it should work. This version is great coz its not using openssl as a dependency. Looking forward to hearing back from you.

[2015-12-08 01:32] barrysteyn commented on #72
@BrandonZacharie please can you try again, I have updated things.

[2015-12-08 20:12] BrandonZacharie commented on #72
I was able to build successfully this time.
<img width="734" alt="screen shot 2015-12-08 at 12 10 35" src="https://cloud.githubusercontent.com/assets/27306/11667161/f4f8d900-9da4-11e5-85a4-16396a98adfc.png">

[2015-12-08 20:14] BrandonZacharie commented on #72
<img width="614" alt="screen shot 2015-12-08 at 12 13 55" src="https://cloud.githubusercontent.com/assets/27306/11667193/2c456e50-9da5-11e5-9054-fcf053542d55.png">

[2015-12-08 20:54] barrysteyn commented on #72
Excellent, thanks @BrandonZacharie .

[2015-12-08 21:39] fresheneesz commented on #72
Not sure if maybe something's wrong with my node-gyp or my system or something, but looks like i'm getting the same issue:

[code]

[2015-12-08 21:56] barrysteyn commented on #72
@fresheneesz This looks like you don't have a clean install. Can you do me a favour: make a totally clean install (delete everything, resync - don't hard reset) and then try rebuild. You really should not get that error.

[2015-12-08 23:15] fresheneesz commented on #72
I did do a completely clean install of scrypt in the first place. But I tried installing fs-ext which requires compiling and I get similar errors. There must be something wrong with my environment. I'm using [nvm-windows](https://github.com/coreybutler/nvm-windows) to install node.js btw. Not sure how to fix this on my end : /

[2015-12-08 23:20] barrysteyn commented on #72
@fresheneesz I don't know. All I can say is that it works on my windows machine...

[2015-12-08 23:22] fresheneesz commented on #72
I think I might know why my build isn't working. It looks like node-gyp requires MS Visual studio 2013, but I only have 2012. I don't have time to mess with this more right now, but it's safe to say my system isn't correctly installed at the moment, and so my errors probably aren't scrypt's fault.

[2015-12-15 21:04] LPGhatguy opened #110 "OpenSSL binary link for Windows 404s"
The current README link for installing OpenSSL on Windows gives a 404 right now. It's also a release out of date!

Is there a more general binary download page that would be better to link to?

[2015-12-15 21:23] barrysteyn commented on #110
Hi @LPGhatguy

You are in luck: Version 6 of this module is ready, and I have managed to get rid of all the dependencies to OpenSSL. The only thing that is left for me to do is write the documentation for this version.

Please can you rather install and use this version (it is on branch v6). Also, can you report here your experiences with using it.

Thanks
Barry

[2015-12-15 21:33] LPGhatguy commented on #110
Fantastic! As soon as I get home from the office I'll take a look since I was having some issues getting v5.x to work on Windows.

[2015-12-15 21:46] barrysteyn commented on #110
@LPGhatguy Please can you tell me via this forum if it works for you. This module does resquire a C++ version 11 compiler (actually, any Node add-on requires this nowadays), so if you have windows, you will need msvc++2013 (any version below this will not support C++ 11)

[2015-12-16 15:48] barrysteyn commented on #110
Hi. Did it work?

[2015-12-16 23:58] dsine-de opened #111 "Strange problem since upgrading to Node 5.3.0 on Windows 10"
Hi,

I suddenly get this strange error in one of my apps after upgrading to Node.js v5.3.0 on Windows 10. I tried to downgrade Node.js to v5.2.0 and even v4.2.3 again, but the problem persists, even though I'm pretty sure it worked before with Node v5.2.0. and 4.x.

I know this doesn't necessarily have to be a problem with the scrypt module, but I highly appreciate any help how to fix it.

I alway

[2015-12-17 00:08] barrysteyn commented on #111
I am not sure. Try using version 6 (branch v6 on github) - I have have done a lot of work and it is ready for release (I just need to write the documentation). It may fix your problem. Please tell me if it works...

[2015-12-17 00:50] dsine-de commented on #111
Ok, I copied the v6 into my ```node_modules```, followed by a ```npm rebuild``` (need to do that, right?).

Output is as follows:

[code]

I can't find the config.h file, did I miss something?

[2015-12-17 00:53] dsine-de commented on #111
The only ```config.h```file is in the directory "/node_modules/scrypt/scrypt/scrypt-1.2.0/config.h"

[2015-12-17 01:24] barrysteyn commented on #111
Hmmm - I don't think copy v6, rather to test this, clone the entire github module, then checkout v6. Then npm install and see if it installs.

Also, if this happens again, please can you give me a more detailed dump.

[2015-12-17 01:27] barrysteyn commented on #111
Actually, I think I know what the problem is. Let me correct it, and I will tell you when to get v6 again.

[2015-12-17 01:32] barrysteyn commented on #111
Hi - actually, please follow instructions above (i.e. reclone this module).

[2015-12-17 01:35] dsine-de commented on #111
Ok, just for the record, the error is the same when I do ```npm install``` directly in the node-scrypt directory:

[code]

[2015-12-17 01:38] barrysteyn commented on #111
Hi

Can you translate these errors into English:

`
E:\repositories\node-scrypt\scrypt\scrypt-1.2.0\libcperciva\util\sysendian.h(21): error C2054: Nach 'inline' muss '(' folgen (..\src\scryptwrapper\keyderivation.c) [E:\repositorie s\node-scrypt\build\scrypt_wrapper.vcxproj]
E:\repositories\node-scrypt\scrypt\scrypt-1.2.0\libcperciva\util\sysendian.h(22): error C2085: 'libcperciva_be16dec': Nicht

[2015-12-17 01:42] dsine-de commented on #111
Sure:

[code]

[2015-12-17 01:43] barrysteyn commented on #111
Tell me, what version of MSVC are you using?

[2015-12-17 01:45] dsine-de commented on #111
I installed Visual Studio 2013, how can I find out the exact version?

[2015-12-17 01:48] dsine-de commented on #111
"Microsoft Visual Studio Express 2013 for Windows Desktop with Update 4" - this was working with the older node-scrypt versions (https://www.microsoft.com/download/details.aspx?id=44914).

[2015-12-17 01:50] barrysteyn commented on #111
Okay, I think your compiler is correct. MSVC does not like inline for C, and this library is being compiled using C (not C++ - just the scrypt part of it). What I can't figure out is why this is not a problem on my test machine. I think that I need to set some flag. Let me investigate.

Just so that I have it on record, please can you tell me the version of Node you are using (I assume it is versi

[2015-12-17 01:53] dsine-de commented on #111
Yes, it's 5.3.0

[2015-12-17 01:54] barrysteyn commented on #111
Could you do me a BIG favour - I am assuming you are using NVM. Can you confirm for me that you still get this error when using version 4.x of Node. I would very much appreciate this.

[2015-12-17 01:56] dsine-de commented on #111
Probably I'm not an optimal test subject right now because of this strange error in my first comment - something seems to have changed on my machine and I don't know what. The currently released version of node-scrypt worked all the time with Node v5.2.0 and 4.x, I only got this error since installing 5.3.0. (but now also on any other Node version)

[2015-12-17 01:57] dsine-de commented on #111
Hm, no I don't use NVM, I just install the .msi packages from nodejs.org homepage

[2015-12-17 02:01] dsine-de commented on #111
Yes, I'm getting the same thing with 4.2.3:

[code]

[2015-12-17 04:56] LPGhatguy commented on #110
I was able to compile the module successfully, but I didn't test the resulting installation. I hit a snag with the VS 2013 compiler dying without reporting any errors but was able to get VS 2015 working just fine.

[2015-12-17 05:12] LPGhatguy commented on #110
I hit an issue trying to install the module's v6 branch via `npm`, however. `node-gyp` is correctly installed and my compiler is on my path:

[code]

[2015-12-17 05:15] LPGhatguy commented on #110
I hit an issue trying to install the module via npm, however:

[code]

My environment appears to be correct, however:
[code]

[2015-12-17 10:25] dsine-de commented on #111
I got it fixed now. I had a wrong PATH environment variable to my OpenSSL installation directory, so the ```libeay32.dll``` file wasn't found.

The build problem with the v6 branch still persist, though.

[2015-12-20 03:17] dsine-de commented on #111
I'll close this issue but I'm open to test the v6 branch, just let me know.

[2015-12-20 03:17] #111 closed

[2015-12-21 09:15] jasonvillalon commented on #98
Hi Guys,

Im also having exact problem.

Any updates on this?

tried on node 4.1.0, 5.2.0 and 5.3.0
npm v3.5.2
node-gyp v3.2.1

[2015-12-21 12:40] jasonvillalon commented on #98
In my case, I Solved my problem by deleting my project/node_modules directory, then run "$ npm install scrypt", then run "$ npm install" to install other dependencies of my project.

[2015-12-21 19:13] barrysteyn commented on #98
@jasonvillalon I am about to release version 6 (probably over the holidays) which will solve all these problems. Look out for it.

[2015-12-27 02:04] LPGhatguy commented on #110
Are there any updates on fixing this compilation issue? It seems like there are just some files missing from the repository potentially, or maybe I'm missing a dependency.

[2016-01-03 12:18] gajus opened #112 "Explain the resulting string length"
It is not clear how to store the resulting base64 string in the database, i.e. what should be the size of the column.

[code]

All my tests seem to show that regardless of the input the resulting hash length is 128 characters. Though, I am sure this is variable (otherwise it would have been documented as such).

What exactly determines the length of the hash and how to calculate it?

[2016-01-03 12:53] Demurgos commented on #112
In the readme, there is a link under the kdf section to [this explanation of the HMAC format](http://security.stackexchange.com/questions/88678/why-does-node-js-scrypt-function-use-hmac-this-way/91050#91050).

  When encrypting something using the scrypt key derivation function, a 96 byte result is produced

96 bytes encoded in base64 are effectively 128 chars so this is not variable.

[2016-01-03 14:44] gajus commented on #112
Thank you. Missed it. Was searching for "128" keyword.

[2016-01-29 23:20] gavinhungry commented on #98
@barrysteyn, any update? I still cannot install with `npm install [...]/node-scrypt#v6`, so I can't include scrypt into a package.json file. I'm stuck cloning and locally installing on deployment.

[2016-01-30 02:31] jasonvillalon commented on #98
@gavinhungry my workaround for now is to install scrypt before installing other dependencies.

[code]

[2016-01-31 22:57] barrysteyn commented on #98
hi @jasonvillalon and @gavinhungry

The only thing I need to do is update the documentation and then I will release v6. I will try to get this out of the door by next week. Sorry for the delay, really hectic at work.

[2016-02-03 22:54] velocityzen opened #113 "OS X. Failed to install"
[code]

[2016-02-03 22:56] velocityzen commented on #113
[code]

[2016-02-04 15:40] barrysteyn commented on #113
Please try version 6. I think it will fix your problem.

tmp ❯ libtool --version
libtool (GNU libtool) 2.4.6

—
Reply to this email directly or view it on GitHub
<https://github.com/barrysteyn/node-scrypt/issues/113#issuecomment-179517352>
.

[2016-02-04 16:05] velocityzen commented on #113
@barrysteyn same `libtool:   error: unrecognised option: '-static'`

[2016-02-04 20:30] barrysteyn commented on #113
Okay, I will look into this over the weekend. I'll do this on my Mac. Try
to publish on Monday
On Feb 4, 2016 8:05 AM, "Alexey Novikov" <notifications@github.com> wrote:

[2016-02-05 00:58] velocityzen commented on #113
@barrysteyn thanks!

[2016-02-08 18:43] ngoctranfire opened #114 "scrypt function to store passwords:"
According to a post I read:
[code]

However, I'm confused because I read the documentation and I noticed there is a scrypt.hash() function and a scrypt.kdf and a scrypt.verifykdf function....

Should I be using scrypt.kdf to store my password or should I use scrypt.verifykdf?

I am currently using scrypt.hash(password, params, salt)...
If i want to verify a password, should I just compute the hash

[2016-02-08 22:28] DiknT commented on #114
with latest version >= 5 you want to save the result of script.kdf as the users hashed password (documentation says scrypt.kdf internally uses the scrypt.hash itself). Then with script.verifyKdf(savedPW, inputPW) you check validity of password entered at login attempt.

[2016-02-08 23:24] ngoctranfire commented on #114
@DiknT What about the salt? The scrypt.kdf doesn't actually take in a salt? Should I just append the salt to my password manually?

[2016-02-08 23:30] DiknT commented on #114
the kdf function takes care of salting, no need to add it yourself: KDF: This should be used for hashing and checking passwords as it incorporates salt as well as HMAC into its format.

[2016-02-09 01:20] ngoctranfire commented on #114
@DiknT How does the verifykdf actually verify the password again if the salt is randomly generated...? This doesn't really make sense to me at all...

[2016-02-09 01:23] barrysteyn commented on #114
Salt is random but is never encrypted. So it's stored in the clear and
anyone can read it. Remember what salt is achieving: It's thwarting a
rainbow attack. So we just want to make identical passwords look different
when hashed, and that's all the salt is doing.
On Feb 8, 2016 5:20 PM, "Ngoc Buu Tran" <notifications@github.com> wrote:

[2016-02-09 01:24] ngoctranfire commented on #114
Nevermind. I just read the c function and realized that the salt is the characters 16-32. We take it from there

[2016-02-09 01:25] DiknT commented on #114
check the links mentioned in section for KDF, the salt is saved in the bytes 16-46 of the resulting kdf. From the documentation:

To explain why HMAC is used, lets have a quick recap. When encrypting something using the scrypt key derivation function, a 96 byte result is produced with the following break down:

 bytes 0-5: The word "scrypt"
 byte 6: 0
 byte 7: logN
 bytes 8-11: r
 bytes 12-15: p

[2016-02-09 01:30] ngoctranfire commented on #114
@DiknT Thanks a lot! Makes a lot of sense now!

[2016-02-10 08:33] toddbluhm commented on #98
+1

[2016-02-15 19:48] RHavar opened #115 "Version 6.0.0 build error on osx"
Trying: `npm install scrypt` I'm getting the error

[code]

[2016-02-15 20:12] barrysteyn commented on #115
This seems very weird. The file is there, and the include path is there as well. The file is at `./scrypt/scrypt-1.2.0/libcperciva/alg/sha256.h`

Can you please make sure that the file is present on your pc. If it is there, then try change on line 27 in `src/scryptwrapper/keyderivation.c` `#include "sha256.h"` to `#include <sha256.h>`

[2016-02-15 20:43] RHavar commented on #115
`scrypt/scrypt-1.2.0` doesn't seem to be included at all?

You can download the tar here: http://registry.npmjs.org/scrypt/-/scrypt-6.0.0.tgz

[2016-02-15 21:14] barrysteyn commented on #115
What.  This is crazy - why is it not there. It most certainly is present on
Git.

Would you have any idea why?

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

On Mon, Feb 15, 2016 at 12:43 PM, Ryan Havar <notifications@github.com>
wrote:

[2016-02-15 21:40] barrysteyn commented on #115
Okay, stupid me. I figured out the problem. I have published version 6.01,
it should fix the problem

I am really sorry, and thanks for brining this up to my attention. Please
try it and tell me if it works.

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

On Mon, Feb 15, 2016 at 1:14 PM, Barry Steyn <barry.steyn@gmail.

[2016-02-15 21:44] RHavar commented on #115
Thanks! Works great

[2016-02-15 21:44] #115 closed

[2016-02-16 01:07] velocityzen commented on #113
I found a problem. I have another version of libtool installed in /usr/local/bin/libtool.
You should use OSX stock libtool from /usr/bin/libtool

[2016-02-16 02:45] barrysteyn commented on #113
Hi Alexey

I don't explicitly use any libtool, that is the job of node-gyp. I think
that node-gyp just looks for the libtool in the standard place. Look for
node-gyp on npm, there is documentation there, perhaps you can change the
libtool search path.

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

On Mon, Feb 15, 2016

[2016-02-16 02:47] velocityzen commented on #113
Ok, then it's a node-gyp problem :+1:

[2016-02-16 02:47] #113 closed

[2016-02-16 06:43] BrandonZacharie opened #116 "Unable to run tests"
I get the following when attempting to run tests.

[code]

[2016-02-16 21:36] JonathanHayward opened #117 "?Documentation is out of sync?"
https://github.com/barrysteyn/node-scrypt says nearby:

Then it goes on to say:

Which is intended? Does the following code encrypt a password:

--or--

[2016-02-16 21:57] DiknT commented on #117
Both are intended, names changed with version 5. As it states on top:

Migrating To Version 5
Version 5 is not backward compatible, but it should still be easy to migrate. Please read the api section to see what's changed. One big change that is worth noting is a name change: What used to be called hash has now been changed to kdf and conversely, what was kdf is now called hash.

Now, kdf is used

[2016-02-17 09:03] jasonvillalon commented on #98
i wonder when v6 will be release? :(

[2016-02-17 09:43] barrysteyn commented on #98
v6 was released two days ago...

[2016-02-17 18:36] #98 closed

[2016-02-17 18:36] #117 closed

[2016-02-17 19:09] barrysteyn commented on #116
This seems like a setup problem with mocha. I can't say why this is not working, but I don't think it is due to my code. Can you try again?

[2016-02-17 19:09] #114 closed

[2016-02-17 19:11] barrysteyn commented on #95
I am going to close this for now. If you feel very passionate about this, please send a patch.

[2016-02-17 19:11] #95 closed

[2016-02-17 19:11] barrysteyn commented on #101
Version 6 has been released. This should be a non-issue now.

[2016-02-17 19:11] #101 closed

[2016-02-17 19:12] barrysteyn commented on #110
Version 6 has been released, and it does not depend on an external openssl library. So this should be a non-issue now.

[2016-02-17 19:12] #110 closed

[2016-02-17 19:12] #112 closed

[2016-02-17 21:07] BrandonZacharie commented on #116
The entry for `npm test` (`mocha tests/scrypt-tests.js`) references `mocha` without a path. I tried running the tests again but with a relative path to `mocha` and the `tests` directory and it worked. I recommend changing the entry for `npm test` to `node_modules/mocha/bin/mocha tests` to ensure it uses the module's version of mocha. I also recommend changing the file path to just the `tests` dire

[2016-02-17 21:07] #116 closed

[2016-02-17 21:13] barrysteyn commented on #116
An absolute path is not necessary for npm to find packages. What version of npm are you using?

[2016-02-17 22:26] BrandonZacharie commented on #116
`mocha` is a binary; I don't think `mocha tests` works unless it's installed globally (and thus in `$PATH`). I am using `npm@2.14.18`

[2016-02-18 08:54] zzaemok opened #118 "error of verifyKdf() callback is always null"
[code]
Hello, I'm using scrypt of 5.4.1 version.
Error of `verifyKdf() callback` is always `null`. Password mismatch does not return an error.
Result is true or false. I saw #72,but i don't understand.
What is the circumstance where an error is not null?

[2016-02-26 07:34] dsine-de opened #121 "Building v6.0.1 on Windows fails"
Hi,

building on Windows 10 fails with the new version of scrypt now on my box while v 5.4.1 worked.
My installed Visual Studio version is "Microsoft Visual Studio Express 2013 for Windows Desktop with Update 4", npm is v3.7.5 and Node.js is v5.7.0.

This is the log output (some german messages, but I can translate if you need more information):

[code]

[2016-03-04 16:18] LordWingZero opened #122 "Scrypt will not install on my Raspberry Pi Zero"
Install scrypt-for-humans installs node scrypt 5.4.0 which fails to install with the following errors.

## Pi Zero
Linux raspbain_pi_zero 4.1.17+ #838 Tue Feb 9 12:57:10 GMT 2016 armv6l GNU/Linux

## npm output
[code]

## [npm-debug.log](https://drive.google.com/file/d/0B0JBNCwYjUsnckU3b3pTX2h2U2M/view?usp=sharing)

[2016-03-04 16:32] barrysteyn commented on #122
You need to use the latest version of Scrypt (version 6.01). Reopen this issue if that does not solve the problem.

[2016-03-04 16:32] #122 closed

[2016-03-04 17:57] barrysteyn commented on #121
Upgrade your compiler.

[2016-03-04 17:57] #121 closed

[2016-03-06 13:26] BrandonZacharie commented on #118
AFAIK, there's no instance where a callback of `verifyKdf` is passed an error ([see here](https://github.com/barrysteyn/node-scrypt/blob/v5.4.0/src/node-boilerplate/scrypt_kdf-verify_async.cc)). However, it's probably there to keep the library future proof and in line with the Node.js guidelines. In the example you have provided, an error would be unexpected behavior. I suggest you code with that

[2016-03-10 20:27] acgourley opened #123 ""Generic scrypt code is broken - please report bug!""
While running the latest 6.0.1 version compiled with npm I ran into "Generic scrypt code is broken - please report bug!" which appears to be coming from the native scrypt layer. Notably this error does not appear in the 5.4 version compiled and run in the same way. For now sticking with 5.4 solves my problem but I'm tracking this in case it helps others.

I filed a bug with scrypt directly here ht

[2016-03-12 05:38] cperciva commented on #123
Just to provide some context here -- this error is coming from a failed self-test, which probably means that `crypto_scrypt_smix.c` is being compiled incorrectly (probably due to a compiler optimizing inappropriately).

The self-test doesn't exist in earlier versions, so it's possible that earlier versions are silently producing incorrect results...

[2016-03-14 02:34] RHavar opened #124 "Install requires python?"
I'm getting this:

[code]

Is python a hard dependency of using scrypt? Ideally I'd keep my production machines lean and mean without it =)

[2016-03-14 03:46] barrysteyn commented on #124
node-gyp is a tool that is used to build the program. It requires python. So install python and things should work. Look at the instructions for node-gyp if you need help.

[2016-03-14 03:46] #124 closed

[2016-03-14 03:47] barrysteyn commented on #123
@acgourley Can you please tell us your setup. What compiler were you using, what platform are running things on?

[2016-03-14 04:07] acgourley commented on #123
So it was built on a debian system via node-gyp as a dependency for node-scrypt@6 which used this gyp config file: https://github.com/barrysteyn/node-scrypt/blob/v6/binding.gyp

[code]
However I don't really know which compiler that invokes.

[2016-03-14 04:10] barrysteyn commented on #123
type `gcc --version` - that should give us the version. Although, at this point, it might not be of any use.

[2016-03-14 04:20] acgourley commented on #123
[code]

It may also be important this was done as part of a docker build done on a debian wheezy image.

[2016-03-14 04:28] barrysteyn commented on #123
Perhaps the docker could be affecting it (maybe you have not installed a library which scrypt assumes to be present). Anyways, what I am going to do is try to change things to use Colin's reference implementation (and nothing fancy). I will try change it tonight, and then lets see if you have any success after that?

[2016-03-14 04:35] acgourley commented on #123
Great. Happy to test and see if it fixes it. Not a huge rush as I have a work around and this isn't a production system yet.

[2016-03-14 04:39] barrysteyn commented on #123
@acgourley On further investigation, what node-scrypt is doing on your platform is running the `configure` script before building your platform. My guess is that something in that script is being incorrectly set. Go to where node-scrypt is (you will need to run this inside your docker container), and find the `scrypt/scrypt-1.2.0` folder. Once there, run `make clean`. After it has been cleaned, ru

[2016-03-14 04:54] barrysteyn commented on #123
@acgourley Try cloning the branch `scrypt-reference-imp` - build that and see if things work. Report back to me...

[2016-03-14 05:04] acgourley commented on #123
There was no clean target, so I just removed the object files
[code]

[2016-03-14 05:06] barrysteyn commented on #123
There should be a clean target. Can you make sure you have version 6.01. Not that that would make a difference, but please make sure you have the latest release.

[2016-03-14 05:27] acgourley commented on #123
Confirmed that branch fixed my issue.

[2016-03-15 23:21] barrysteyn commented on #123
@acgourley I have confirmed with Colin that this is not a fix. Using the reference implementation will be a security risk as you give an attacker a huge advantage: The attacker will be able to run scrypt MUCH faster than you will with the reference implementation.

There is a way forward though: We can repro what is happening very easily since you are using Docker. Are you prepared to give me an i

[2016-03-17 00:13] acgourley commented on #123
I may need about a month time to put this together as I need to remove
sensitive IP and will be traveling soon. If there is a faster way to to
send over information let me know. Thanks for your work here.

On Tue, Mar 15, 2016 at 4:22 PM, Barry Steyn <notifications@github.com>
wrote:

[2016-03-20 03:39] acgourley commented on #123
This might be a faster way forward - I tried simply running the tests on the v6 branch using the on the same build server which made the failing docker container and it failed with the same problem.

[code]
[code]

[2016-03-20 18:47] dsine-de commented on #121
Could you give me a hint in the right direction on how to that on Windows 10? If I install Visual Studio 2015 (instead of 2013), it also uses ```C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe``` (or isn't that the compiler?).

[2016-03-21 19:05] barrysteyn commented on #121
Hi @dsine-de

If you can translate the error messages into English, I can give you more help.

[2016-04-04 17:36] axic commented on #121
@barrysteyn we are experiencing the same issue, here's a gist with error messages in English: https://gist.github.com/anonymous/94cd1528fd8f95ba830ae7516ad40b92

[code]

[2016-04-04 18:17] tcoulter commented on #121
Note: Just tested on Windows 8.1 64bit. Changing all `inline`’s to `__inline` in sysendian.h, cpusupport.h, and insecure_memzero.h fixes the build on Windows.

[2016-04-08 16:59] Cyberuben opened #125 "Building fails on Windows"
I'm currently trying to install `scrypt` on my computer. I'm getting the following output logs:

[code]

After Googling I found that in teh past, this error was the result of an error with the library.

I have Python installed (and the environment variable is set), `node-gyp` has been updated to the latest version so I doubt that this is an issue with my computer.

[code]

Version `v5.4.1` seems t

[2016-04-08 17:21] barrysteyn commented on #125
I am going to fix this problem over the weekend... At least, I am going to apply the same fix that was in version 5.x

In fact, if I have a break today, I will try get it done then...

[2016-04-08 18:11] barrysteyn commented on #125
@Cyberuben I need your help. Please clone branch `potential-fix-for-ms-compilers` and then try rebuild that clone. Please tell me if things work for you. I cannot test this because I don't have a MS machine to test with.

[2016-04-08 18:24] Cyberuben commented on #125
I'll do this in +- 2 hours, if that's fine with you?

[2016-04-11 18:20] barrysteyn commented on #125
@Cyberuben Did this work for you?

[2016-04-11 20:29] Cyberuben commented on #125
My bad, could you tell me how I could clone this branch and build it? I don't have too much experience building npm applications manually.

[2016-04-12 16:46] barrysteyn commented on #125
Hi

First, you need to clone the repo. Go to the github page of node-scrypt (google node-scrypt github) and then you will see a http url to clone (I am assuming you do not have a github account). Just git clone that URL. The type `git checkout potential-fix-for-ms-compilers` to checkout the branch. Once there, type node-gyp rebuild (again, I am assuming you have node-gyp installed).

Shout if you

[2016-04-16 00:21] lights0123 commented on #125
@barrysteyn It works fine for me on Windows 10 and node 5.10.1.

The log, if anyone wants it:

[code]

[2016-04-16 00:25] barrysteyn commented on #125
Hi @lights0123 - PLEASE help out the community and try compile the branch `potential-fix-for-ms-compilers`. This will be superior to version 5 if it works.

[2016-04-16 00:27] lights0123 commented on #125
@barrysteyn I did - here's a zip of the compiled module.
[node-scrypt.zip](https://github.com/barrysteyn/node-scrypt/files/221971/node-scrypt.zip)

[2016-04-16 00:29] lights0123 commented on #125
@barrysteyn I did the full `npm install`, but I can post the `node-gyp rebuild` results.

[2016-04-16 01:05] barrysteyn commented on #125
@lights0123 Sorry, I did not read your original response correctly. I thought you were using version 5.x.

Very happy that this version is working for you. Can I ask you a favour. Please can you install version 6.01 (the latest version on NPM) and tell me if it fails? If the NPM version fails for you, but this version passes, then we have something.

[2016-04-16 01:12] lights0123 commented on #125
@barrysteyn I got the same error as @Cyberuben got above. In case it's different:

[code]

[2016-04-16 01:13] barrysteyn commented on #125
Excellent! Thank you so much @lights0123 - that means I will publish a new version of this module with the fix in it. I'll do this over the weekend.

Thank you very much for testing this.

[2016-04-16 01:15] lights0123 commented on #125
@barrysteyn Glad I could help! I was actually installing 6.0.1 from npm because I was moving from my remote debug on CentOS onto my local Windows machine, and came across this error.

[2016-04-16 01:15] Cyberuben commented on #125
I'm very sorry I sort of abandoned this issue, I haven't been able to follow your instructions yet. Glad someone else was here to help you test it though, will be waiting for the new version.

[2016-04-17 18:42] barrysteyn commented on #125
Published fix in version 6.0.2

[2016-04-17 18:42] #125 closed

[2016-04-25 17:39] axic commented on #121
@tcoulter good news, this was fixed in 6.0.2 (another issue detailing it #125)

[2016-04-26 20:43] clockwork189 opened #126 "Question: Can a plain text password be recovered from a hash?"
Hi there,

Thanks for creating this library and have been using it since version 4, currently on 5.4.1 and upgrading to 6 soon. I am doing a quick backend security audit of my system and I was wondering, if it is possible to get the plain text password from the hash(that would be stored in the database in the place of a plain text password).The following is how I would encrypt and store the passwo

[2016-04-26 21:00] Demurgos commented on #126
Hi,
`scrypt` - as any hash function - is not symmetric. It means that **there is no known method to retrieve the input (password)** that produced the output unless you try every possible input (brute-force attack).
For some weaker hashes (such as `MD5`), the cost of hash is low enough and the result space is small enough that a brute-force or rainbow-table attack might be succesful.

In this regar

[2016-04-28 14:43] barrysteyn commented on #126
@Demurgos Your answer is good. I would just add that unfortunately, choosing scrypt params is still a bit of an art. However, as of now, it is the still the best cryptographic hash algorithm that I know of.

[2016-04-28 14:43] #126 closed

[2016-05-01 21:04] jeremejevs commented on #46
What's his rationale? Is it published anywhere?

Can you, please, provide an example of such way? Hypothetical will do.

I'm commenting on this because it's just disappointing that the only legit scrypt library for Node doesn't offer a simple, batteries-included way to generate and verify a clean scrypt hash with meta info included (like numerous other standard-de-facto libraries do in other langu

[2016-05-01 22:55] barrysteyn commented on #46
@jeremejevs

Honestly, I don't care about why he did this. I do know he is a very good cryptographer, and I do know that he would not have done it if it in any way weakened the security.

The `scrypt` method does what you describe. It just uses HMAC on top of it. If you feel so badly about this (why I don't know), then use the `hash` method to get a pure scrypt hash, and then compare it way.

Glad

[2016-05-02 06:43] jeremejevs commented on #46
Okay, I'll try rephrasing it: I want the convenience of `kdf` + `kdfVerify` (which do the serialization and deserialization of the params + salt + hash for me) without SHA-256 and HMAC on top of it. Of course, I can just write my own `kdfVanilla` + `kdfVanillaVerify` on top of `hash`, that's a trivial task, but it's a real shame that these don't come out of the box.

The reason why I don't want HM

[2016-05-02 07:12] jeremejevs opened #128 "Error on relatively large iteration counts"
This works fine:
[code]
While this doesn't:
[code]
Throws **error computing derived key**. Clearly, this is a local problem, since `16384` isn't even large, it's normal, but how do I troubleshoot this? I'm running this inside a vanilla Node 6.0.0 Docker container, if that's of any relevance.

[2016-05-03 00:50] barrysteyn commented on #46
So if I understand you, what you really want is for this version of `scrypt` to use the same protocol for making and deriving a key as the Go version. Seeing as that most other language bindings/libraries (admittedly, I have only looked at the C and Python libraries) do not do this, can you give me a better reason other than it just working with Go.

Regarding the security, please look through his

[2016-05-03 00:53] barrysteyn commented on #128
This looks like an error. Thanks for bringing it to my attention. I will have a fix out shortly.

[2016-05-03 02:45] barrysteyn commented on #128
The problem is that the KDF function expects parameters that have been passed to it via the params functions. So what it is expecting if you pass it a straight `{N, r, p}` object is for the `N` to be logarithmic. So if you substitute 14 for N (because 2^14 = 16384), it should work fine.

Still, I see where the confusion comes in, and when using a raw object like you have, it should not do this. I

[2016-05-03 08:40] jeremejevs commented on #46
It doesn't have to be the same protocol, since there's no standard, but anything [MCF-like](http://pythonhosted.org/passlib/modular_crypt_format.html) would be fine. [`bcrypt` does MCF out of the box](https://en.wikipedia.org/wiki/Bcrypt), and then some `scrypt` libs mimic `bcrypt` in at very least [Java](https://github.com/wg/scrypt/blob/master/src/main/java/com/lambdaworks/crypto/SCryptUtil.java

[2016-05-03 18:00] clockwork189 commented on #126
Awesome, thank you both of you.

[2016-05-03 19:58] oconnore commented on #46
@jeremejevs it sounds like your issue here is with compatibility: in which case you should just store this as `$scrypt+hmac$...` and write a tiny Go function to check it. Done.

The reason I opened this issue was not because there is anything technically wrong, but that I think the construction is misleading -- the stack overflow description of it is likely to convince people that it has propertie

[2016-05-03 20:00] barrysteyn commented on #46
Hi @oconnore and @jeremejevs  - No, I don't disagree with it. I am just very busy and I wanted to give a better answer. Long story short: Propose something, and let the community decide on it. If it is wanted/needed, then it will be my pleasure to implement it.

[2016-05-03 20:17] jeremejevs commented on #46
@oconnore My doubts about HMAC are the source of my desire for an MCF-like solution, that's why I've chosen to comment on this issue (as to not fragment the discussion). If I was convinced that the HMAC layer makes is a win-win, then I wouldn't be surprised by the lack of a less secure solution.

@barrysteyn I'll probably do a pull request sometime this week, if my plans won't change.

[2016-05-03 20:36] oconnore commented on #46
@barrysteyn oh, sorry for assuming :wink: Anyway, if I were to propose something, it would be: asking Colin to take a look at your [stack overflow post](http://security.stackexchange.com/questions/88678/why-does-node-js-scrypt-function-use-hmac-this-way/91050#91050). In particular, the bits about "active attackers" and "message integrity" seem dangerously close to implying that Alice can safely ch

[2016-05-11 08:47] ngoctranfire commented on #128
Can we be notified for when this will be fixed?

[2016-05-11 10:03] demurgos commented on #128
Would this be a breaking change or a new function ?

[2016-05-11 18:34] barrysteyn commented on #128
I am trying to have a fix out within the month. The only problem is that it may be a breaking change. Trying to figure out how to get round this...

[2016-05-24 13:49] somebody1234 opened #129 "Decryption"
How would I decrypt a scrypt-generated hash?

[2016-05-24 15:33] BrandonZacharie commented on #129
You cannot decrypt a hash. Encryption and decryption are opposites, while hashing has no opposite function.

If you'd like to know how to use scrypt to verify a scrypt-generated hash, please see the [`verifyKdf` section of the readme](https://github.com/barrysteyn/node-scrypt#verifykdf-1). If you're looking for information on how to crack ("decrypt") a scrypt-generated hash, this isn't the place.

[2016-05-25 10:55] #129 closed

[2016-06-14 09:26] IrishAdo opened #130 "NVM_NODEJS_ORG_MIRROR will be removed in node-gyp"
Any chance of an update not certain if this is from your code or a dependancy

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-g

[2016-06-19 15:00] BrandonZacharie commented on #130
I believe this message is from [NAN](https://github.com/nodejs/nan).

[2016-06-19 15:34] BrandonZacharie commented on #130
I suspect you're using NVM as is hinted in the message. If that's the case, then I recommend you try upgrading that somehow or changing the environment variable it exports from `NVM_NODEJS_ORG_MIRROR` to `NODEJS_ORG_MIRROR`. This package already adds NAN via a reasonably unrestrictive semantic version so there isn't anything @barrysteyn can change to help.

[2016-06-30 17:17] gperciva opened #131 "AssertionError: expected [Error] to match /^Error"
Fresh install on Ubuntu 16.04 (inside virtualbox).  I'm guessing it's a simple regex typo?

[code]

[2016-07-02 01:54] BrandonZacharie commented on #131
I'm able to replicate that. I'll take a deeper look this weekend.

[2016-07-04 04:01] ashnamuh opened #132 "fails npm install (node-scrypt-preinstall)"
hello, i try to `npm install`. but `scrypt rebuild error` has happened.
my error message:

![image](https://cloud.githubusercontent.com/assets/14067417/16550533/8e353678-41e6-11e6-8214-7c1c1dfe7510.png)

OS: linux mint 17.3 MATE
node version: 6.2.2
npm version: 3.9.5
python version: 2.7.6
global `node-gyp` has been installed.

what is problem of me?
don't support `node 6.2.2`?

[2016-07-05 04:19] ashnamuh commented on #132
![image](https://cloud.githubusercontent.com/assets/14067417/16573791/da0b0380-42b2-11e6-8f67-109fac7cbfb0.png)

although i try to install `node 4.4.7`, it's happened

[2016-07-05 06:30] ashnamuh commented on #132
Sorry, it's my error.
I tried to `sudo apt-get install build-essential` and it's fixed.
scrypt is good working with `node 6.2.2`

[2016-07-05 06:30] #132 closed

[2016-07-05 16:47] BrandonZacharie commented on #131
The regular expressions in those two tests are not much different than in any of the other tests. It appears that the string representations of the error objects produced in those two tests are the culprits; In fact, I get different output on every run.

![screen shot 2016-07-05 at 09 43 45](https://cloud.githubusercontent.com/assets/27306/16592341/1969d718-4295-11e6-8e5d-476d584a2bff.png)
![scree

[2016-07-08 15:31] barrysteyn commented on #131
Hi

I am sorry, I am in the middle of getting married :) I will be back home on the 10th of Jul and then give me some time to settle down and I will sort this out. Apologies for lack of response, but wedding stuff takes quite a lot of time.

[2016-07-08 16:43] gperciva commented on #131
Congratulations!  No rush; I just happened to notice it while investigating #123.

[2016-08-22 06:53] AttilaSATAN opened #134 "No such file or directory (nan.h)"
windows 10
with node-gyp and windows-build-tools

compiler try to include a header file called 'nan.h' but can't find it.

[code]

[2016-08-22 16:26] barrysteyn commented on #134
I will look into this on Sat.

[2016-08-22 16:26] barrysteyn commented on #131
Sorry for the delay. I will look into this on Sat. Again, apologies.

[2016-09-02 08:58] Kresshy commented on #134
Sadly I have a similar issue which I think can be related to this, running on OS X, Node 5.6 and npm 3

[code]

[2016-09-10 20:58] CoderWithAttitude opened #135 "error with scrypt package"
Hello i am trying to install ethereumjs testrpc but i keep having issues with you package please help

C:\Users\user\AppData\Roaming\npm\node_modules\ethereumjs-testrpc\node_modules\s
crypt>if not defined npm_config_node_gyp (node "C:\Users\user\AppData\Roaming\np
m\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js
" rebuild )  else (node "" rebuild )
Warning: Missing

[2016-09-11 10:49] lnguy opened #136 "Issues when installing on Windows 10"
Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. Tous droits réservés.

PS C:\Users\***> npm install -g truffle
npm WARN deprecated to-iso-string@0.0.2: to-iso-string has been deprecated, use @segment/to-iso-string instead.
npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprecated minimatch@0.3.0: Please

[2016-09-17 15:38] laggingreflex commented on #136
The missing python error stands out:

Make sure you have python (v2.7 I think) installed

[2016-09-23 13:24] graynun opened #137 "dyld: lazy symbol binding failed: Symbol not found: _clock_getres"
I use node v.6.6.0 with npm 3.10.3.
The install log for scrypt using npm was this;

When I try to run a test super short test code like below,
`let scrypt = require('scrypt');

scrypt.params(0.2).then((param)=>{
	console.log(param);
});`

This error comes up.

I do have libSystem.B.dylib in usr/lib/, so I have no idea why the module fails to binding symbols.
Any idea?

[2016-10-12 20:48] ozanyurt opened #138 "Windows Visual Studio 2015 installing issue"
If I rename __pfnDliNotifyHook2 with something else, it can be successfully build.

`PfnDliHook __pfnDliNotifyHook2_newname = load_exe_hook;`

node v6.7.0
npm v3.10.3

[2016-10-13 10:34] deedw opened #139 ""Segmentation fault: 11" on OSX 10.11.6 and XCode 8"
node-scrypt 6.0.3 has been working fine for me until recently when I rebuilt my node_modules folder. I am now getting Segmentation fault errors when making scrypt calls.

The only change I can think of is that I installed Xcode 8 and am now seeing ``clang: warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of OS X 10.9`` message when installing.

I can replicate the

[2016-10-13 10:56] deedw commented on #139
This might help you. I tried reinstalling and running the scrypt tests under node v6.8.0 (I was previously using v4.6.0) It crashes at the same place but the error message is a bit more informative:

[code]

[2016-10-17 17:39] chrisveness opened #140 "Incorrect 'N' for scrypt.hash"
It's taken me far longer for the penny to drop than it probably should have, but If I understand well, `scrypt.hash` is misinterpreting the `N` parameter.

In the params for `kdf`, the `N` is actually logN – which while the naming is a little confusing, is much easier to work with than `N` itself, and I like.

However, in the params for `hash`, the `N` parameter is actually `N`.

Hence `scrypt.has

[2016-10-19 00:46] BrandonZacharie commented on #140
This is handled by https://github.com/barrysteyn/node-scrypt/pull/119

[2016-10-19 09:02] chrisveness commented on #140
Good stuff, thanks.

I'll close once the fix hits npm (so it doesn't get re-reported if anyone else hits it).

Excellent library, thanks for the work.

[2016-10-19 21:19] 360disrupt commented on #135
Same for me:
Cannot Install OSX Sierra, Node v.6.9, npm 3.10.8, node-gyp 3.4.0
https://github.com/ethereumjs/testrpc/issues/185

#direct install
[code]

## When installing ethereumjs-testrpc
[code]

[2016-10-24 18:04] aaroncalderon opened #142 "encrypt/decrypt functions"
I read on the repo that you intended to move the `encrypt/decrypt` functions found on `node-scrypt@1.x` [to another module](https://github.com/barrysteyn/node-scrypt/blob/v2.0/Readme.md#introducing-node-scrypt-version-2).

Are there any plans to work on that module?

[2016-11-02 12:43] harryhazza77 commented on #139
I'm also getting similar behaviour so would love to get some workarounds on this please

[2016-11-02 15:35] barrysteyn commented on #139
Hmmm - okay, I will take a look at it over the weekend...

[2016-11-04 00:56] BrandonZacharie commented on #139
While I do see the warning when using v6, compilation proceeds without error. Modules inherit this from node. AFAIK, as of v7 node links to libc++ instead of libstdc++. I suspect you'll see the same warning with other projects that use node-gyp (redis?) until you start using node v7 or Xcode 7. I don't see the warning when using node v7.

[code]

[2016-11-04 12:04] deedw commented on #139
I spent quite a lot of time looking into this 3 weeks back, and it looks like this is an issue affecting many modules where XCode 8 is running on El Capitan. The only fixes I found were to (a) downgrade Xcode 8 to Xcode 7, or to upgrade to MacOS Sierra. I updated to Sierra and scrypt works fine now (tested under node 4.6.1 and 6.9.1).